[2019-02-06 08:54] fmvilas opened #12 "Create a document explaining the Vision and Scope of the project"
As a user, I'd like to understand what's the vision and scope of AsyncAPI. I should be clear what is part of the scope and what is not, and where the project is heading to.

@jhigginbotham did some great questions that must be answered in this document:

* What is the overall scope?
* Is it just to capture events and streams available?
* Is it a higher-level view of all interaction styles, e.g. RP

[2019-02-06 08:56] fmvilas opened #11 "Create a guide for maintainers"
As a contributor, I'd like to understand what being a maintainer actually means.

**Don't feel bad for reusing what others have done already.**

References:

* https://github.com/Homebrew/brew/blob/bbed7246bc5c5b7acb8c1d427d10b43e090dfd39/docs/Maintainers-Avoiding-Burnout.md
* https://github.com/CocoaPods/CocoaPods/wiki/Communication-&-Design-Rules

[2019-02-06 08:58] fmvilas opened #10 "Create a document explaining the processes"
As a maintainer, I'd like to understand what are the processes when managing the project.

The following are some things to document:

* When to apply the following issue labels: good first issue, "version x.y.z", backlog, question, bug, feature request, and duplicate.
* When and how to communicate the rest of the team you're working (or blocked) on an issue.
* Which branch the Pull Requests shoul

[2019-02-08 15:51] fmvilas opened #9 "[FEATURE REQUEST] Specification extensions catalog"
There are many useful features that are not incorporated to the spec because they're specific to a protocol, or they add too much complexity to the spec, etc. I always respond suggesting to create a specification extension (you know, those starting with `x-`). However, I understand that when something is standardized it's much easier to reuse. Right now we have different people creating different

[2019-02-14 08:33] fmvilas opened #8 "Write tooling plans and strategies"
As a contributor, I'd like to understand what are the plans for tooling so that I can better understand where and when to help.

As a user, I'd like to know what are the plans for AsyncAPI and when they plan to release the tools.

[2020-02-11 09:16] derberg opened #14 "Standardize basic contribution rules across all repos and basic repository settings"
Proposal:

### Forks only

Doesn't matter who you are, org member or not, all work on AsyncAPI should be done in Forks. PRs should come from Forks, and there should be no feature branches in the upstream.

**Why**
- A common practice for larger projects
- Get rid of issue of polluted list of branches, and zombie branches that were already merged.

**What has to be done**
- Clear instruction on how

[2020-02-19 10:16] derberg opened #6 "Improve governance model"
Review the existing governance model and improve it to assure model is open for community and assures project can still efficiently go forward:

- assure open governance
- make it clear what it means to join the project as a maintainer (what maintainer is)
- what sponsorship means?
- make sure that the model we pick is open but also non-blocking. Whenever voting is needed the voting group has to b

[2020-03-23 14:34] derberg opened #5 "Try out Issue Hunt as an additional source of project work sponsoring"
Consider introducing https://issuehunt.io that is also integrated with GitHub. We could gather sponsorship for individual issues. It might have some disadvantages though. It would be awesome to get some input from an experienced user.

- pick some candidate-issues
- set it up and announce
- let's see if it gives anything

[2020-12-10 07:53] jonaslagoni opened #4 "AsyncAPI logo in repositories are not viable with GitHub darkmode"
All our repositories use the same logo and it does not look great with the new darkmode GitHub recently introduced. Just wanted to raise awareness in case its something we want to address.

![billede](https://user-images.githubusercontent.com/13396189/101736626-06fa4c80-3ac4-11eb-93cc-933672e31c39.png)

[2021-01-12 02:59] iimrankhan opened #3 ".Net core"
Hi is there any support for .Net core? I can't seem to find one. I mean how can I generate .net core code from the specs

[2021-03-14 16:16] MikeRalphson opened #1 "Project Communication"
Firstly, thanks for getting involved! Please make sure you are familiar with the project's [Code of Conduct](https://github.com/asyncapi/asyncapi/blob/master/CODE_OF_CONDUCT.md#contributor-covenant-code-of-conduct).

There are several ways to communicate with the AsyncAPI project:

* Subscribe to our [Newsletter](https://www.asyncapi.com/subscribe/) to learn about the status of the project.
* GitH

[2021-03-14 16:18] vinz178 opened #2 "Compare two AsyncAPI specifications"
A tool that compares two AsyncAPI specifications and checks compatibility. I am thinking about an equivalent to OpenAPI-Diff or Swagger-Diff.
https://stackoverflow.com/questions/64372598/compare-two-asyncapi-specifications

[2021-03-14 16:28] prdatur opened #7 "[FEATURE REQUEST] New tooling intelliJ autocomplete support"
**Is your feature request related to a problem? Please describe.**
Not related.

**Can't it be tackled using specification extensions?**
No

**Describe the solution you'd like**
As with openAPI, it would helpfull to have a autocomplete plugin for intelliJ IDE.
This will allow us to write documentations and specifications without writing invalid asyncAPI files.
Additional, this will give us a chanc

[2021-03-14 16:28] #7 closed

[2021-03-14 16:34] fmvilas commented on #12
This issue has been addressed at https://www.asyncapi.com/roadmap 🎉 I'm closing this now. Thanks to everyone who contributed!

[2021-03-14 16:34] #12 closed

[2021-03-14 16:48] fmvilas opened #13 "AsyncAPI specification 2.1.0"

[2021-03-15 09:31] derberg opened #15 "AsyncAPI open meeting, Tuesday Mar 16 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](http

[2021-03-16 13:00] derberg opened #16 "AsyncAPI Applications Relations Finder"
#### Reason/Context
Would be awesome to build a library that as the input gets an array of AsyncAPI documents and analyzes them to get information about Applications described by those files:
- If they subscribe or publish to the same channels
- If one subscribes to a channel that the other one publishes to
- If there are apps that are subscribed to channels that no one publishes too

As an output

[2021-03-17 08:37] aayushmau5 commented on #2
Hey!, so I'm working on this. Right now, I setup a basic CLI which will only trigger the `async diff` command as some work is already going on the CLI so I wanna keep the command modular, so it can easily be integrated with the desired tool. It's in JS by the way. Any feedback is appreciated.

[2021-03-17 08:43] aayushmau5 commented on #2
Oh, one more thing. This should be done in the [cli](https://github.com/asyncapi/cli) repo, right?

[2021-03-17 10:45] vinz178 commented on #2
This is great news!

[2021-03-17 11:37] derberg commented on #2
@aayushmau5 the assumption is that it is not a CLI. AsyncAPI Diff is a library, that as input gets 2 asyncAPI files that need to be compared. They can be already parsed by the AsyncAPI JavaScript Parser.

Why? so the library can be used in https://github.com/asyncapi/cli and https://github.com/asyncapi/studio (UI) and also by others in any other context.

It also nicely limit the scope as you do n

[2021-03-17 11:56] aayushmau5 commented on #2
That makes sense. Thanks for clarifying it @derberg
So, we make another repo?

[2021-03-17 12:27] derberg commented on #2
@aayushmau5 once we are ready to work on this, that would be the best imho.

[2021-03-17 13:22] aayushmau5 commented on #2
Cool, for the time being I'm gonna do this on my own repository.

[2021-03-17 14:27] derberg commented on #2
@aayushmau5 you mean as a PoC only? to validate your idea?

Ideal would be to work on asyncapi repo when reviews are needed etc, mainly because (being kinda selfish here) that would make life or reviewer much better as all the tools that we use now as maintainers would help us, and we would not have to jump outside the asyncapi org.

but for a proof of concept, if you want to play earlier then I t

[2021-03-17 14:58] aayushmau5 commented on #2
Yes, as a PoC.

Yup.

Okay, Working on it. Just cloned the repo. :)

Thanks a lot for pointing me in the right direction. @derberg

[2021-03-17 15:07] arjungarg07 commented on #16
I am trying to get myself familiar with `parser-js` for now, since I believe that would be the main tool we would be be building this idea on top of. Would try to resolve some good first issues and get familiar with the codebase of it.

[2021-03-17 15:13] arjungarg07 commented on #16
@derberg Also can you please point out to some already implemented `async-api` collection so that I can test this idea on those files manually for PoC.

[2021-03-19 20:33] arjungarg07 commented on #16
Yeah, thanks for sharing the design tool. I would try to build AsyncAPI files as per the use cases described in the idea and play with it to draw some relations manually first.
Sure, I will do some onboarding tasks from the parser till Alavaro has those documents ready. Thanks.

[2021-03-22 13:10] derberg opened #17 "AsyncAPI duplications finder aka document optimizer"
Build a library that code-first users would benefit from the most but not only. A library that as the input gets AsyncAPI document and as output provides optimized AsyncAPI document. For example:

- Reuse of components
- Duplicated schemas moved to components and ref-ed from a message
- Remove not used components

The goal is to shrink the document to a minimum.

More requirements:
- There should

[2021-03-22 13:20] derberg commented on #8
@fmvilas this is done right?

[2021-03-22 13:24] derberg commented on #17
`There should be flags to disable specific parts of optimization` and `I should be able to just get an optimization report, without actually changes`

why?

because we know there are use cases where users actually on purpose have data in `components` only and `channels` object is just empty. Meaning they would like to optimize those schema, find duplicates or reuse them between different component

[2021-03-22 16:21] #8 closed

[2021-03-23 14:11] KhudaDad414 commented on #17
I think it would help if we have an un-optimized version of the streetlights Document. in this file, we need to create all sort of scenarios that the library needs to face, from duplicate schemas to unused components. then label those anomalies and group them into 2 or 3 groups of optimizations. then we can accept an options object into the library and optimize the file based on those options. The

[2021-03-23 14:22] KhudaDad414 commented on #17
I think TS would be a better option for this library.

what do you think if we go for this as a starting point?

`interface Options{

}
export class Optimizer{
    constructor(private document: AsyncAPIDocument,private options:Options) {}

    getReport(){}

    //Or we can accept the options as an argument for getOptimizedDocument? This way user can pass the types of optimization after seeing the

[2021-03-24 09:47] derberg commented on #17
Yes, definitely. It's like creating sample data for an integration tests for the library. I would only suggest avoiding using Streetlight. We already have too many different variations of it and instead of having it as a good example, it is a kind of "abused" example. Some time ago we agreed that for "testing" it is better to have some dummy file. So better just unoptimize [this](https://github.co

[2021-03-24 11:24] derberg opened #18 "AsyncAPI open meeting, Tuesday Mar 30 2021 4PM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](http

[2021-03-25 08:47] derberg commented on #18
This time you do not have to access Zoom to join the meeting. In case you just want to listen, then watch the live stream https://www.youtube.com/watch?v=AVUhWL1nw6Y

[2021-03-25 15:23] jonaslagoni opened #19 "AsyncAPI Application simulation"
#### Reason/Context
A simulation library that can trigger events in your applications based on AsyncAPI definition(s). The main purpose is to stimulate your application(s) in a development environment (staging?). Use it for stress testing, hunting down concurrency problems, stimulating visual applications, finding scalability issues in your application, and more.

The general use-case:
- You provi

[2021-03-25 18:28] NektariosFifes commented on #19
Hello i am interested in participating .  which technology stack you believe would best fit the needs of this library?  suggestion : node ? will this be a npm library?
ideas:
-the app should be able to spawn multiple persistent and non persistent http//s connections
-create a sitemap from asyncapi file
-store the result of the tests in a database
-visualize the results either via cli or a frontend

[2021-03-25 19:01] jonaslagoni commented on #19
Hey @NektariosFifes, Node (JavaScript/TypeScript) could be an option yes, to me it doesn't matter.

👍 on your ideas.

Keep in mind not everyone wants such a feature, so the library should be versatile enough to support different use-cases. But I would not be surprised if someone wants this feature.

I agree there has to be some kind of visualization, but to what extent might vary again, depending

[2021-03-26 11:44] NektariosFifes commented on #19
for containerization docker?
Regardless of GSoC i am going to make a start and put smthing together . I will make a pull request when it is ready.

[2021-03-26 20:28] arjungarg07 commented on #16
@derberg, since we have to find the relation between the documents based on the channels they are subscribed to or publishing on, I wanted to ask that if two channels are considered as same based on their names and operations? and if not what all parameters should be taken into account to considered two channels as **same**.

[2021-03-27 09:42] KhudaDad414 commented on #17
I want to work on it, but I'm not sure if I know the complete types of optimization that can be done. If I have just one sample of each, I can go through the whole file.

[2021-03-27 09:51] KhudaDad414 commented on #17
I can at most think of three functionalities that can be controlled by three rules:
1) move duplicated components from `channels` to `components` and ref them.
2) move single-used components from `channels` to `components` and ref them.
3) delete un-used components from `components`.

any other category?

[2021-03-29 08:57] derberg commented on #16
@arjungarg07 Alvaro's blog post is out https://www.asyncapi.com/blog/building-async-flight-notification-service and the project where he has AsyncAPI files is here https://github.com/amadeus4dev/amadeus-async-flight-status

[2021-03-29 11:30] derberg commented on #17
less rules, better to provide first version, more important will be pluggability here, like how to add more "validations"

yes, but of course as something that user can disable

yes, so you basically find for example exactly the same message in 2 different channels, so you move it to components and ref, yup

maybe better do check that there is a component that is refed in one channel but in anothe

[2021-03-29 12:18] KhudaDad414 commented on #17
got it. as I understand the library should be modular. if I remove one rule with all of it's report and optimization code, the rest of the library should work fine. It should be like that for adding new rules. I just have to add the report code, add the optimization code, plug in into the library, just like that.

Will start working on it tomorrow.
btw, thanks for the instructions.

[2021-03-30 07:13] arjungarg07 commented on #16
@derberg I build a prototype in which I tried to identify relations between the AsyncAPI docs on the Rideshare microservice (provided by solace) and model the output as shown in the image. This is just a basic structure and can be changed according to the requirements.
**Link to the source code**: https://github.com/arjungarg07/relation-finder-prototype

**Rideshare Graph View**
<img width="898" a

[2021-03-30 16:48] #18 closed

[2021-03-31 13:03] arjungarg07 commented on #16
@derberg I did some research about what more functionalities we can provide by the library:

- Filters to highlight relations that match a criteria given by the user.
- option to provide output format as grouped events which are common to two services
- showcasing all the events referencing the same Schema
- option to add/remove <service> subscribe/publish on <channel> which would help in visualiz

[2021-03-31 14:40] NektariosFifes commented on #19
### Project requirements

- [ ] User stories
- [ ] Non functional requirements

#### User stories
|id | Prioritization | Description |
| --- | -- | ---- |
|#S1 | Should have | As a user i want to call the app with a cli command passing the required flags and arguments along with optional ones.
|#S2 | Should have | As a user i can view statistics during the test on my terminal. Number of requests p

[2021-03-31 17:42] pawanakhil commented on #19
Hey Guys, want to give some user inputs on requirements.

- Have an option to simulate messages (payload) with the examples specified in `asyncapi.yaml` file OR by generating random payload as per the defined message structure.

- Considering above case, it's a good option to have message validator in place for simulation.

- Have a flag option : Are server(s) defined in `asyncapi.yaml` is/are alr

[2021-04-01 12:51] NektariosFifes commented on #19
@pawanakhil  i will update the requirements.

[2021-04-01 18:53] pawanakhil commented on #19
That's it as if now, maybe will update if I get any.

**Maybe not or Maybe** as a mentor 🤔 if I get chance (although it's upto member's of community). Anyways, I am happy to help out and contribute to this project.

[2021-04-02 08:53] derberg commented on #19
@pawanakhil this is open source project from initiative that is community driven. Nobody from some company will come and tell you to go away. We love working here in larger groups as it always enriches discussion and at the end make our tools better. So feel free to contribute and share your experience. I would say official GSoC mentors are there in case noone else can help, but it doesn't mean th

[2021-04-02 17:15] arjungarg07 commented on #16
@derberg Thank you for the kind words, all thanks to you😄

I'm not sure what you mean here? Did you mean that **someone can use this library as a plugin** I guess, right?

Yeah, we can provide the output in a way that can match the syntax from mermaid, also we can search some more related tools which use the same syntax as mermaid from this collection: [awesome-d3](https://github.com/wbkd/awesome-

[2021-04-05 10:21] KhudaDad414 commented on #17
@derberg I created the [first draft of my proposal.](https://docs.google.com/document/d/1tpsNMGjECjso-5NZuOMSD9Z88BL9VkvK2UpyBPuoWrU/edit) any input would be greatly appreciated. :) (added gsoc@postman.com with edit rights.)

[2021-04-06 09:40] jonaslagoni commented on #19
Great start guys 👏

Maybe it is a good idea we clarify the word `simulation`/`stress testing`, what do you guys say we use the definition?
[code]

@NektariosFifes I would suggest we add a test coverage of around 95% whenever we talk about implementing anything it is implied that it contains tests, docs, and the implementation. We need to ensure that any contributions do not break the library 🙂

@p

[2021-04-06 09:50] Souvikns commented on #2
I was thinking that we pass two documents specification the function returns us a Difference object.
[code]

Difference object basically has three arrays that we are using to classify the differences all the difference is an object of a class `Diff` that has some similar properties like
- type (breaking or non-breaking )
- action (add, remove, edit)
- path (specify the exact object that has been c

[2021-04-06 09:57] derberg commented on #16
I think it would be cool to make it possible to provide plugins for this library. So by default, it outputs some custom format, but one can also install an additional plugin and use it with the library to get mermaid (as an example) format. Of course in first version we do not have to have pluggability, just a thought. We can also have a switch in first version where you can just pass option and s

[2021-04-06 10:39] derberg commented on #2
do we need `type` if those are already grouped?

maybe instead of `edit` better would be `modify`?

are we talking about json pointer here?

you mean entire spec? or just the part that was added/removed/changed?

I like focus on breaking changes, as this is  mostly what user care most about, and want to highlight on a PR for example that the PR is introducing a breaking change into the API 👍🏼

We

[2021-04-06 10:39] derberg commented on #2
@vinz178 what do you think?

[2021-04-06 13:26] arjungarg07 commented on #16
Got it👍🏽

Sure, will keep in mind, it could be added if the project finishes before time.

Sure.

[2021-04-06 13:41] NektariosFifes commented on #19
@jonaslagoni

I will update the requirements

 Idea: "Reporters" could take 1.data streams or 2.Promise Arrays with results internally, and spit out objects with a specific format. It will be up to the user to figure out how he want to visualize the results. However i think we should provide an example(probably as a web app because a command line visualization of statistics will not be easy if the

[2021-04-06 13:49] jonaslagoni commented on #19
Would be cool if it could do that yea 🎉

[2021-04-06 14:22] Souvikns commented on #2
I was thinking type as in the type of the change, like is the change breaking anything or not
`modify` is better, so the types of the changes are
- add
- remove
- modify

This is how openAPI was doing, but for asyncAPi it is like `_json.channels.example-channel.subscribe.message.payload.propoerties.exampleNumber` . Exactly this object is changed. Also this I am not sure what is the best way to sol

[2021-04-06 14:38] derberg commented on #2
Best would be to use json pointer https://tools.ietf.org/html/rfc6901 as we already use that in the Parser and it has good tooling available in JS

yup, makes sense I think

[2021-04-06 14:47] Souvikns commented on #2
ok, so with this I am making the changes in my proposal. I will also read JSON pointer and try to use it as the path

[2021-04-06 18:00] pawanakhil commented on #19
Cool. Agree with it. Although, It's a good option to have - Before starting the simulation, checking whether all the servers or user specified servers (for simulation) are running or not and notifying details of the servers which not running back to the user. Because if the servers aren't running and performing simulation doesn't make sense.

How are we planning to take the input of user defined s

[2021-04-07 12:00] jonaslagoni commented on #19
how about a through a separate JSON file ?

@pawanakhil Yea I agree it would probably be "best" to provide a separate file for this. Basically creating a specification for specifying simulations (if it doesn't already exist).

Another thing we have to keep in mind is how would we keep the scenario files up to date with ever-changing AsyncAPI documents?

@NektariosFifes I would have to insist that

[2021-04-08 15:12] derberg opened #20 "AsyncAPI open meeting, Tuesday Apr 13 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](http

[2021-04-09 17:10] pcornelissen commented on #16
I'm also looking for some UI to discover relationships in a "mesh" of services. Great to see that you made something so quickly. I'm looking for quite some time for something to document event driven systems in a better way than linked confluence pages ;-)

In my mind there is a web UI+API where you can register asyncAPI files and then you can browse all these in a format similar to the docs gener

[2021-04-11 11:12] NektariosFifes commented on #19
@jonaslagoni
@pawanakhil

I will start working on the specification. For a start i will try to define its rules and try to make a parser.

[2021-04-11 13:54] jonaslagoni commented on #19
I created a repository for the follow up issues and PRs: https://github.com/asyncapi/fluffy-robot

We should also figure out what it should be called 😄 https://github.com/asyncapi/fluffy-robot/issues/1

@NektariosFifes do you mind create an issue for the different parts that should be discussed?

[2021-04-11 14:02] NektariosFifes commented on #19
@jonaslagoni  ok 😃

[2021-04-12 01:07] AceTheCreator commented on #19
@NektariosFifes I'd love to help contribute to the visualization of the reports. You said you're making a ui library for react, is this library specific for the visualization? or something you're just working on. Nevertheless I'd love to take a peek at the library. Mid sharing the repo?

[2021-04-12 05:33] vinz178 commented on #2
I also think that in most cases, users want to know if there is a breaking change. Therefore, I recommend focusing on that. In my use case, any additional information is a "nice to have" at best.

[2021-04-12 11:18] AceTheCreator commented on #19
Ok cool. Looking forward to it. Keep up with the good work mate 👍

[2021-04-12 15:14] jonaslagoni opened #21 "VR/AR AsyncAPI visualizer"
#### Reason/Context
To help visualize collections of applications we could create a VR/AR "game" which can visualize how multiple applications are connected.

Why?
- Help new members of teams quicker learn about the setup rather than looking at UML diagrams.
- It is cool 🤷

#### Description
It should show the applications and who are connected to each other. Furthermore, you should be able to furt

[2021-04-12 15:30] jonaslagoni commented on #21
As discussed on slack, maybe it can be build so it can both be viewed in VR/AR as well as on a website in a 3d view, everything running from the same source code. This would enable different kinds of integrations such as with [studio](https://github.com/asyncapi/studio) and others as well as easy maintainability.

[2021-04-12 16:36] smoya commented on #20
@jonaslagoni and I would like suggest a discussion around two topics:

1. https://github.com/asyncapi/spec/issues/507
2. Should we add intents for Bindings? How do we make the Parser support different Bindings versions?

[2021-04-12 17:22] NektariosFifes commented on #21
@jonaslagoni  unreal engine?

[2021-04-12 17:27] jonaslagoni commented on #21
Could very well be, no idea which kind of solutions are available for this kind of use case. That would have to be researched before any implementation happens to weigh pros/cons and ensure the correct approach is selected 😄

[2021-04-13 07:18] magicmatatjahu commented on #20
I can't be on SIGU today. I see that Jonas and Sergio want to talk about bindings. If someone will have questions for my issue (asyncapi/spec#507), it'll be best to write a comment under issue and then I will response :)

[2021-04-13 11:13] #20 closed

[2021-04-16 11:16] NektariosFifes commented on #21
https://www.unrealengine.com/marketplace/en-US/product/unrealjs Here is a javascript plugin for unreal , for those not familiar with c++. It also allows u to use npm modules.

[2021-04-20 07:02] derberg opened #23 "AsyncAPI open meeting, Tuesday Apr 27 2021 4PM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](http

[2021-04-27 19:01] #23 closed

[2021-04-30 08:41] Barbanio opened #24 "Workshop topics"
Hello! @smoya and I have opened this issue so that people interested in the workshops can post the topics they would like to be covered. Feel free to post your interests :)

[2021-04-30 09:23] jpgough commented on #24
If I was looking to create a workshop on Async I think I would look at the following agenda (which reflects a little bit on what I'd like to learn):

**Session 1 Taught - Hello Async**

- Introduction to event driven architecture essentials
- Demonstrating event driven architecture using a WebSocket/simple example accessible in a range of languages e.g. these [blog posts](https://www.asyncapi.com/

[2021-05-04 08:58] smoya commented on #24
@jpgough It looks pretty promising!

I'm wondering if the Todo List is a good exercise for showing how an event-driven app works. Would you mind sharing more details?
I've seen simple chat applications as the default example in many workshops or demos of event-driven apps, but I have no preference of course!

[2021-05-04 14:41] derberg opened #25 "AsyncAPI open meeting, Tuesday May 11 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](http

[2021-05-05 15:31] jpgough commented on #24
@smoya that's a good question and I think we can play around with the lab session that really helps us get to the points we want to prove out. In terms of the todo application I was thinking of a scenario where:

- There is a shared team todo list (maybe a bit like GitHub issues)
- Creating an issue notifies other team members
- Team members can comment on an issue (possibly react to an issue)
- T

[2021-05-06 12:26] jpgough commented on #25
@derberg if the community was willing I would be happy to present a brief overview of my proposal ideas for #24

[2021-05-06 12:29] derberg commented on #25
@jpgough sure thing, added to the agenda, thanks 🙏🏼

[2021-05-07 09:46] smoya commented on #25
I won't attend this meeting as I'm off.
Regarding the workshops, @Barbanio is gonna keep leading the initiative so it keeps moving forward.

[2021-05-07 11:45] hkaur008 commented on #19
I would like to contribute to the visualization of the project. Please direct me where to get started.

[2021-05-10 12:36] fmvilas commented on #24
I just created a repo for us to collaborate on the workshops content: https://github.com/asyncapi/training.

[2021-05-12 15:55] #25 closed

[2021-05-13 12:55] derberg opened #26 "Slack workspace reorg proposal"
Proposed official channels:

    01_introductions (NEW)
        topic: Welcome to our AsyncAPI Slack! Take a moment to introduce yourself.
    02_general (old general)
        topic: Talk here if your topic is not only about the spec, nor tools but kinda mix and not only but involves AsyncAPI :)
    03_specification (NEW)
        topic: All around the spec discussions. It is ok to ask for support

[2021-05-13 13:14] MikeRalphson commented on #26
Unsure about the `N_` prefix, but that's probably just unfamiliarity. 👍🏼 to everything else.

[2021-05-13 13:32] aayushmau5 commented on #26
How about a `help` channel as well? Are we going with `tooling` and `general` for people to get help?

[2021-05-13 13:50] derberg commented on #26
@MikeRalphson yeah, you just need to see it in action, but basically, channels are by default ordered by name. So if you do not mess with orders, the prefix clearly separates official channels from others

@aayushmau5 yeah, my idea was to not have a separate help/support but allow this in general/specification/tooling so topic description say `It is ok to ask for support here.`

my motivation was

[2021-05-14 07:30] derberg commented on #5
this is still valid! some day will find time to work on this one!

[2021-05-14 07:31] derberg commented on #6
welcome to the best open governance model ever https://github.com/asyncapi/.github/blob/master/CHARTER.md

[2021-05-14 07:31] #6 closed

[2021-05-19 08:55] derberg opened #27 "AsyncAPI open meeting, Tuesday May 25 2021 4PM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](http

[2021-05-25 10:38] jonaslagoni commented on #27
In case we have nothing on the agenda and no questions, would it make sense to bring up this [discussion](https://github.com/asyncapi/parser-api/discussions/4#discussioncomment-775939) @derberg ?

[2021-05-25 11:19] derberg commented on #26
If anyone has time for review, I've just opened a PR with slack etiquette https://github.com/asyncapi/.github/pull/53

[2021-05-25 11:22] derberg commented on #27
@jonaslagoni go ahead! not many people joined the discussion yet and any activity that can change is most welcome.

[2021-05-25 12:07] jonaslagoni commented on #27
@derberg I will only focus on the discussion you and I have had in regards to why solve the perspective issue in the parser instead of solving it for the spec.

[2021-05-26 07:28] jabrena opened #29 "Given a Kafka Cluster Then generate an AsyncAPI spec"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

In a Kafka Cluster, you start a project with few topics but the it grow with the time. Traditionally, you could create a documentation about the topics in a manual way but that documentation could be obsolete soon.

Kafka by nature is asynchronous,

[2021-05-26 09:35] derberg commented on #29
@Pakisan last time we talked you were looking for some community-driven ideas/inspirations for AsyncAPI-related tools 😄

[2021-05-26 12:50] arjungarg07 commented on #16
@derberg Shall we introduce a new repo for this project so that we could discuss workflows and library structure related to this project there itself or should we discuss it here itself😄

[2021-05-26 13:33] gregmeldrum commented on #29
I've written a proprietary tool that connects to a kafka cluster, pulls messages from the existing topics, infers schemas and outputs the information in our custom format. It has most of the authentication modes built-in (SASL Plain, SASL SCRAM, SASL GSS, TLS mutual auth) as well as the ability to pull schemas from a schema registry. I'm currently working on: 1) open-sourcing this tool since we th

[2021-05-27 09:22] derberg commented on #19
Folks, maybe we could transfer it under the fluffy robot since the work starts soon and it no longer is just an idea?

[2021-05-28 13:23] jschabowsky commented on #29
@derberg and @fmvilas maybe we should demo/discuss on one of the upcoming community meetings because our plan is to open source this and make it available for people to add their own broker plugins (today it supports Kafka and Solace) and make asyncapi easier! We would love to get your feedback!

[2021-05-28 14:45] dalelane commented on #29
If possible, it would be great if this could be modular enough to allow elements of it to be reused across protocols other than Kafka.

The ability to infer a schema from example messages is by itself a super useful and awesome capability.

As a generic parser capability, I could see that being useful in lots of other environments - like JMS and MQTT, etc. - with each one needing the protocol-spec

[2021-05-28 19:02] gregmeldrum commented on #29
Yes @dalelane, that's exactly how it's structured. There is the concept of a broker plugin, which provides the raw data to a layer with common functionality such as schema inference.

[2021-05-31 08:45] derberg commented on #26
all done:
- channels created/renamed/removed
- bot welcome message reconfigured
- all new members will now always join the new official channels
- existing members notified in `general` channel about the reorg and new channels
- history preserving bot moved to a separate issue https://github.com/asyncapi/.github/issues/54 as priority is not that high anymore due to Slack enabling standard subscrip

[2021-05-31 08:45] #26 closed

[2021-05-31 08:52] derberg commented on #29
@jschabowsky sounds good to me. The public meeting is for all of you folks so just feel free to suggest an agenda item once the meeting schedule shows up [here](https://github.com/asyncapi/community/issues?q=is%3Aissue+label%3Ameeting+). The next meeting is at 8 AM UTC, the 8th of June, so definitely not your time zone. So I suggest considering the next one that will take place on 22nd of June.

[2021-06-01 14:00] derberg opened #30 "AsyncAPI open meeting, Tuesday June 8 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](http

[2021-06-02 09:29] jabrena commented on #29
hi, how to join to that meeting @derberg, @jschabowsky ?

I would like to see that demo:

[2021-06-02 10:09] derberg commented on #29
@jabrena the best way is to join [this google group](https://groups.google.com/forum/#!forum/asyncapi-users) to be included in a distribution list that we use to send the invitation to the meeting. The invitation always have a zoom link and also the link to agenda where you can see if topic from @jschabowsky is there or not

[2021-06-07 09:37] GeraldLoeffler commented on #30
I am confused about message headers in AsyncAPI message objects and message binding objects. I think there's an omission in the spec that causes my confusion, and so i've created this issue: https://github.com/asyncapi/spec/issues/551 I propose to discuss this topic in this meeting, if possible.

[2021-06-16 09:09] #30 closed

[2021-06-16 14:55] derberg opened #31 "AsyncAPI open meeting, Tuesday June 22 2021 4PM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](http

[2021-06-16 18:19] Mrc0113 commented on #31
Agenda request: For those of us that have been keeping up with 1 or 2 of the project in the overall AsyncAPI Community I'd like to propose that @fmvilas and/or @derberg give a 10-15 min debrief of what's going on "NOW" in the AsyncAPI Roadmap: https://www.asyncapi.com/roadmap.

[2021-06-21 12:18] derberg commented on #31
@Mrc0113 Hey, added

[2021-06-22 17:05] jonaslagoni opened #32 "Clarify the security issue process"
#### Reason/Context
With more and more tools, we increase the attack surface that might be leveraged in unintended ways. We should provide a structure where code owners and maintainers can spare and help each other solve security issues.

The current security policy we have: https://github.com/asyncapi/community/security/policy (What happens when someone sends an email to this? I have no idea 🤷).

[2021-06-23 09:13] #31 closed

[2021-06-23 15:26] derberg opened #33 "Contibutors-first Meeting"
#### Reason/Context
AsyncAPI Initiative maintains not only AsyncAPI spec but also a huge amount of different tools. People can contribute whatever they want really:
- docs
- tests
- code
- articles
- coordinate release process of the spec
- actually anything, we just need to know what are your capabilities

This of course means that making first (and not only first) contribution may be difficult.

[2021-06-23 16:58] arjungarg07 commented on #33
@derberg Do we have zoom pro? we could use https://blog.otter.ai/zoom/ to automatically generate transcripts and save/paste them into the issue to refer to later.

[2021-06-24 08:08] derberg opened #34 "AsyncAPI open meeting, Tuesday July 6 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](http

[2021-06-24 12:55] jonaslagoni commented on #34
If we have time I would like to discuss the future of the [extensions-catalog](https://github.com/asyncapi/extensions-catalog), who is it for, what implementation is expected (https://github.com/asyncapi/extensions-catalog/issues/5 does not say much), how integrated should it be with the parser and other lifecycles of using AsyncAPI, etc.

[2021-06-24 13:06] anandsunderraman commented on #33
Great idea !!
Would be awesome if meetings are scheduled where there is an overlap between timezones. For example I am currently in EST, so some reasonable time with overlap would be great

[2021-06-24 15:41] derberg commented on #34
@jonaslagoni added

[2021-06-24 16:18] derberg commented on #33
@anandsunderraman what about 8AM and 4PM UTC like in case of current public meetings we have every 2nd Tuesday?

[2021-06-28 11:40] anandsunderraman commented on #33
@derberg definitely works for me !!

[2021-06-30 15:25] jonaslagoni commented on #32
Here is my suggestion on how we can improve the current process, and how we can make sure security does not get :

I suggest we use https://docs.github.com/en/code-security/security-advisories throughout the process.

We create a `security-advisories` team here on GitHub which initially will have access to `security@asyncapi.io` (new email only related to security tips) and responsible for assessi

[2021-07-02 08:22] derberg commented on #33
@arjungarg07

This looks good, awesome for people that do not want to watch entire recording, good for our public meeting. Would you mind opening a separate issue about adopting it. If we do it, we should do it for all public meetings

[2021-07-05 04:41] arjungarg07 opened #36 "Adopting Otter.ai to generate meeting transcripts"
As discussed in #33

For this, we could use https://blog.otter.ai/zoom/ to automatically generate transcripts and save/paste them into the issue to refer to later.

[2021-07-05 09:06] smoya commented on #36
I think Zoom also offers transcription (also live).
Is Otter adding better results to this?

[2021-07-07 11:18] arjungarg07 commented on #36
Yeah, if want more functionality and better support for editing and sharing transcripts after the meeting is complete.

[2021-07-12 09:10] smoya commented on #24
Shall we move this issue to https://github.com/asyncapi/training? cc @Barbanio @fmvilas

[2021-07-12 09:14] Barbanio commented on #24
I think it makes sense, right?

[2021-07-16 13:47] magicmatatjahu opened #40 "Move the community-driven files from .github repo the community repo"
Currently in the `.github` repo we have a several very useful docs related to community like (eg) https://github.com/asyncapi/.github/blob/master/slack-etiquette.md. I think that we should move community-driven files from .github repo the community repo like:

- https://github.com/asyncapi/.github/blob/master/recognize-contributors.md
- https://github.com/asyncapi/.github/blob/master/slack-etiquet

[2021-07-20 20:39] fmvilas opened #42 "AsyncAPI open meeting, Tuesday July 20 2021 4PM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](http

[2021-07-20 20:39] #42 closed

[2021-07-20 20:39] #34 closed

[2021-07-27 12:10] derberg commented on #40
yeah, makes sense, we did not have `community` repo before so `.github` repo felt to be the best place to store generic community files. I agree these files should go to `community` repo, good catch!

[2021-07-28 09:42] derberg opened #43 "AsyncAPI open meeting, Tuesday August 3 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](http

[2021-07-29 10:20] jonaslagoni opened #44 "RFC 6570 tooling support"
#### Reason/Context
With the specification, we define our [channels](https://www.asyncapi.com/docs/specifications/v2.1.0#channelsObject) with the RFC 6570 standard. However, from a tool perspective, this fact can easily be overlooked (at least I severely overlooked it) with [ts-nats-template](github.com/asyncapi/ts-nats-template/)). This means, that once we want to realize the channel we must supp

[2021-08-03 08:59] #43 closed

[2021-08-10 07:03] derberg commented on #33
Looks like because we are part of LF, we will get access to Bevy and will be able to use it not only for the AsyncAPI Conference but also other events, and this contributor-first meeting is a perfect candidate. The next days I should get access to it 🤞🏼

[2021-08-11 10:45] derberg opened #51 "AsyncAPI open meeting, Tuesday August 17 2021 4PM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](http

[2021-08-12 07:21] Fannon commented on #51
Hi @derberg,

can you set the trait inheritance behavior topic on the agenda?
I can quickly introduce and explain the issue.
Likely we will have some discussions on this, how to approach it best?

Links:
* PR: https://github.com/asyncapi/spec/pull/532
* Issue: https://github.com/asyncapi/spec/issues/505
* Code example(s): https://jsfiddle.net/FannonF/yLsonr57/31/

[2021-08-12 07:33] Fannon commented on #51
Thanks!

[2021-08-18 19:38] #51 closed

[2021-08-26 14:08] derberg opened #53 "AsyncAPI open meeting, Tuesday August 31 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](http

[2021-08-30 10:33] jonaslagoni commented on #32
@derberg any process in terms of the TSC progress to enable the vote on this?

[2021-08-30 10:40] derberg commented on #32
no progress yet, might be that AsyncAPI conference setup will speed up cleanup here and maintenance of TSC members list

[2021-08-31 12:51] #53 closed

[2021-09-01 10:06] jonaslagoni opened #60 "At which level do we want to solve code injection issues"
### Reason/Context
Even though the AsyncAPI document itself is safe, in the context it is used it can become an attack surface. This is especially relevant in code generation aspects, where values from the AsyncAPI documents can be used as-is.

I would like to discuss at which "level" should this issue be handled so we can take the appropriate actions.

### Scope of the issue
Use-cases/libraries w

[2021-09-10 11:58] derberg opened #66 "AsyncAPI open meeting, Tuesday September 14 2021 4PM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](http

[2021-09-20 11:26] derberg commented on #4
@jonaslagoni @fmvilas seems like a good solution without waiting for GitHub to support it natively

https://github.com/tailwindlabs/tailwindcss/issues/5233

[2021-09-20 13:08] fmvilas commented on #4
I was going to suggest this. Perfect. Let's make it a sticker 😄

[2021-09-22 07:20] derberg commented on #33
Some update from my side - Bevy that we got from LF is not really good. My main concern is the video quality that is not optimised for slow internet and for me it is a blocker as it is not the most inclusive solution for people from parts of the world where they have low-quality connection.

Bevy is basically nothing to compare with Zoom + it is not possible to use it at the same time and stream t

[2021-09-22 17:51] #66 closed

[2021-09-27 11:18] derberg opened #82 "AsyncAPI open meeting, Tuesday September 28 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](http

[2021-09-27 13:20] derberg commented on #10
not all points are still valid but some, and we need to address them as part of work on Contributors Guide

[2021-09-27 13:22] derberg commented on #14
all done, we started adding CODEOWNER files where needed and set up TSC members list

[2021-09-27 13:22] #14 closed

[2021-09-28 06:27] derberg commented on #44
I don't think there is another way than examples and docs. Just like with Modelina, how can you make sure folks use modelina instead of templating data model on their own? examples and docs 👍🏼

[2021-09-28 09:51] #82 closed

[2021-09-28 09:53] derberg opened #83 "AsyncAPI open meeting, Tuesday October 12 2021 4PM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/watch?v=S8gvf0XjO10&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](http

[2021-09-28 09:54] jonaslagoni commented on #83
Gotta admit, been a while since the last meeting 😆 Might want to change the link @derberg 😄

[2021-09-28 09:56] derberg commented on #83
@jonaslagoni how about now?

[2021-09-28 09:57] jonaslagoni commented on #83
@derberg much better 👍 😆

[2021-10-04 11:12] derberg commented on #29
@jschabowsky so, when do you plan to do a demo? 😄

[2021-10-06 10:51] #9 closed

[2021-10-06 10:52] #3 closed

[2021-10-06 10:53] #21 closed

[2021-10-06 10:54] #29 closed

[2021-10-06 10:54] #44 closed

[2021-10-11 10:45] Relequestual opened #103 "Charter inconsistency?"
The charter: https://github.com/asyncapi/community/blob/master/CHARTER.md#2-technical-steering-committee

Item 2.5. is as follows:

The last line says "one-third", while twice previously it says "one-fourth".

Was this an oversight? Should it be "one-forth"?

[2021-10-13 13:16] derberg opened #111 "AsyncAPI open meeting, Tuesday October 26 2021 8AM UTC"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](https://everyti

[2021-10-14 10:42] #103 closed, assigned to nobody

[2021-10-19 12:28] asyncapi-bot opened #119 "AsyncAPI Contributor-first meeting, Wednesday October 20 2021 8AM UTC"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-10-19 12:30] asyncapi-bot opened #120 "AsyncAPI Contributor-first meeting, Wednesday October 20 2021 4PM UTC"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-10-21 08:17] #120 closed, assigned to nobody

[2021-10-25 14:36] mcturco opened #129 "Create AsyncAPI speaker card design template"
Slack discussion thread: https://asyncapi.slack.com/archives/C023A76SV2Q/p1634634997121400
Inspiration: https://pbs.twimg.com/media/FAkpXMmWEAQeZFr.jpg

**Design criteria**
- [ ] Logo
- [ ] Presentation Title
- [ ] Presenter(s') Headshot(s)
- [ ] Presenter Name(s) & Credentials
- [ ] Register Now button

In addition, need card templates for live streams, and contributor-first meetings

[2021-10-26 10:24] asyncapi-bot opened #130 "Contributor-first Meeting, 8AM UTC Wednesday October 27 2021"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-10-26 10:25] asyncapi-bot opened #131 "Contributor-first Meeting, 4PM UTC Wednesday October 27 2021"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-10-26 11:24] #111 closed, assigned to nobody

[2021-10-26 11:32] asyncapi-bot opened #133 "Community SIG Meeting, 4PM UTC Tuesday November 9 2021"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](https://everyti

[2021-10-26 20:48] mcturco opened #137 "Create conference digital assets"
Original file: https://linuxfoundation.smapply.io/prog/asyncapi_conference_2021/

**Criteria:**
- AsyncAPI Logo
- "Online Conference"
- "November 16-18, 2021"

**Sizes:**
- Header Image 2400 x 500
- Mobile image 1024 x 1024
- Mobile Header 1200 x 500

[2021-10-27 10:49] #130 closed, assigned to nobody

[2021-10-28 06:57] #131 closed, assigned to nobody

[2021-10-28 07:20] asyncapi-bot opened #143 "Contributor-first Meeting, 8AM UTC Wednesday November 3 2021"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-10-28 07:21] asyncapi-bot opened #144 "Contributor-first Meeting, 4PM UTC Wednesday November 3 2021"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-10-28 15:30] #137 closed, assigned to mcturco

[2021-11-01 15:54] alequetzalli commented on #129
If I may, I don't think we actually need a button that says to register. I think it would be better to have a bigger speaker photo and or asyncAPI logo on the speaker card. ￼￼I've always felt that those call to action buttons on speaker cards felt out of place and took up valuable real estate. ￼￼🤔🙃👍🏽

[2021-11-01 16:25] boyney123 commented on #129
Great nice one @mcturco, I think they look great!

Yeah I agree with @alequetzalli on the buttons (also just seen the slack message).

Love the other ones tho they looking nice and clean 👍

[2021-11-01 18:27] mcturco commented on #129
Thank you, @boyney123 and @alequetzalli !!

I agree with you guys that the `Register for Free` button doesn't really work in this application. Just to confirm, wherever these are being shared there will be a link to register for the conference, right? This is more referring to the Conference Speaker cards. I think the Live Stream ones work well with the stream links that are there.

Here is what i

[2021-11-01 19:29] alequetzalli commented on #129
Yes, all posts will tell you either where to register for the conference or where to join a stream. So no worries on that end. Copy such as `Register online at conference.asyncapi.com` should be on the post, not a speaker asset.

I am glad you agree, the speaker images and text around them is small and hard to read.

Some speaker's cards will have a TINY banner for just the conf website when it's

[2021-11-01 20:09] mcturco commented on #129
@alequetzalli Okay YES! Took inspiration from that example (thank you!) and I am feeling good about this one! Let me know what you think:

<img width="1087" alt="SpeakerCard_Conference_2Speakers_v3" src="https://user-images.githubusercontent.com/60163079/139734896-94874980-75e2-478b-b8d2-fe92ac3e4461.png">

And then if there is only one speaker we would just center one card in the middle

[2021-11-01 20:14] alequetzalli commented on #129
Oh wow, that is so much better!! Damn, this is sooo cool and exciting!! ✨✨🥳🥳🥳

I'm so glad the pic I shared was helpful!

Question.. I still think that the speaker job role and their company/project has very small text.. what do you think about making that text a bit bigger? For example, I can with difficulty read your job role of Product Designer, but then I really struggle to read `AsyncAPI Init

[2021-11-01 20:40] mcturco commented on #129
Absolutely, @alequetzalli I tend to agree with you there!

Here is an updated version where I increased all type sizes slightly. Let me know if you think that reads better!

<img width="1087" alt="SpeakerCard_Conference_2Speakers_v4" src="https://user-images.githubusercontent.com/60163079/139738889-b43f069b-e581-4de4-857a-ea6c21423186.png">

[2021-11-01 22:23] alequetzalli commented on #129
Hey @mcturco, yes !!! that text size is so much kinder to the eyes 😀👍🏽

Thank you for letting me share my feedback, I enjoy collaborating with you 🥳

[2021-11-02 10:09] derberg commented on #129
Hey, nice job! Some questions to clarify

- `Conference with Contributor Summit` is a placeholder for the presentation title, right?
- `Hosted by` and `Special guest` are actually `Speaker` right?
- I'm wondering, can we include a link to conference.asyncapi.com, if too long, I guess we can get conf.asyncapi.com. Or it doesn't make sense really?

[2021-11-02 14:25] mcturco commented on #129
@derberg Thank you! See my responses below:

Yes! Placeholder text where the conference title would go

Yes these are the speakers. If there are better labels for these let me know, but I was thinking that using `Hosted by` for the main speaker presents nicer than `Speaker` and same goes for `Special Guest`

I can see if I can fit that into the white section at the bottom, however @alequetzalli ha

[2021-11-02 14:32] derberg commented on #129
oh, for me it was confusing and I didn't get it this way. I was actually confused you mixed conference with live stream events 😄

Linux Foundation in the CfP process used `Primary Speaker` and `Co-Speaker`. I think that `Speaker` is ok really.

yeah, just leave it as it is, I'm not 100% sure it is needed 😄

---
So how we do it, @boyney123 will show us the automation idea in action? 😄

[2021-11-02 14:53] mcturco commented on #129
Sorry I'm confused now :laughing: are you saying the labels `Hosted By` and `Special Guest` only meant for streams? JW because there will be two separate speaker card templates: one for conferences and one for live streams.

@boyney123 and I spoke over slack and I think I am going to code the cards in HTML/CSS and then we are going to attach a JS form to it so you can fill out the fields, click su

[2021-11-02 14:59] alequetzalli commented on #129
I actually like the idea that she presents of also having labels of "hosted by" and "special guest" for streams! I would find it useful to have that information honestly. Then for a conference I know the cards were just say "speaker."￼￼

[2021-11-02 15:08] mcturco commented on #129
Gotcha. So should the `Conference` speaker cards have these labels or should we just have each one as `Speaker`

<img width="1087" alt="SpeakerCard_Conference_2Speakers_v5" src="https://user-images.githubusercontent.com/60163079/139874159-87d07b33-d030-44b4-a9c8-ac8e212a2675.png">

[2021-11-02 16:29] mcturco commented on #129
Okay here are the final files, let me know if we need to make any last changes! @derberg @alequetzalli

**Conference Card - 2 Speakers**

<img width="1087" alt="SpeakerCard_Conference_2Speakers_v5" src="https://user-images.githubusercontent.com/60163079/139905799-d42e3f25-feea-4cf8-93ba-eee5e2d53654.png">

**Conference Card - 1 Speaker**

<img width="1087" alt="SpeakerCard_Conference_1Speaker_v5"

[2021-11-02 18:19] alequetzalli commented on #129
I really agree with what @derberg said about just having *speaker* and considering them all equal. 🙂👍🏽

Wow, @mcturco, these last ones are just SOOOOO BEAUTIFUL, I can't even!! ❤️❤️❤️ I really like how the small banner in the bottom of the cards shows the YT and Twitch stream links so nicely!

The only final feedback I can think of is to second what Lukasz asked earlier about trying to fit the con

[2021-11-02 18:23] derberg commented on #129
although I love most cards with live stream links to youtube and twitch, we need to skip it as this year we want to track registration, so we do not want to openly promote the fast that talks are streamed too? makes sense? at least not on speaker cards

[2021-11-02 18:52] mcturco commented on #129
@alequetzalli Thank you! ❤️  And regarding what you and @derberg  mentioned about the links...

Would it work to drop the stream links and then add conference.asyncapi.com in that place for both the conference & live stream cards? Or, we could just not have links on there altogether and just follow the format of the conference cards with the date on the bottom right. Up to you guys!

[2021-11-02 19:08] alequetzalli commented on #129
Oh no, @derberg I didn't mean that I thought she should add YT and Twitch links on *CONFERENCE* speaker cards. Those I only think she meant to use for *streams*, not the conference talks.

I think the conference speaker cards should have the date on them for sure and the conf website. 😬

[2021-11-02 19:33] derberg commented on #129
Ok, so, we need to drop stream links and replace with conf website is ok and date show like in the live stream example

Also I figured why we confuse with each other. I just though this issue is only about  conference and live stream is covered separately as we probably need different style/brandig for Contributor-first meeting anyway to separate from Conference.  At least I though about it this w

[2021-11-02 19:41] alequetzalli commented on #129
hahaha I think you *assumed* this was only for conference speaker card templates, tho! 😀😂😜

See how Missy in her issue here only titles it about speaker design templates. This means a variety of templates, and thus not just for conferences. 🙃

[2021-11-02 19:55] mcturco commented on #129
Okay so I think I know what happened here... I recently made assets for the conference [here](https://github.com/asyncapi/community/issues/137). Because we liked the art direction, we decided to make the speaker cards for the **Conference** match the same theme as the conference assets. Somewhere in the mix, @boyney123 requested a speaker card as well to announce **live streams**. So, I decided to

[2021-11-02 20:25] derberg commented on #129
I fully trust your opinion here. If you think it is ok to use the same colors then let's do it 🍻

2 points though:
- we also live stream to twitter and LinkedIn so need it there too
- AsyncAPI Conference will be replaced with custom title as they are not related, especially that they will stay long after the conference

[2021-11-03 09:31] boyney123 commented on #129
@mcturco yeah maybe create a separate repo for now I think makes sense. Then we can add new designs etc in the future. Did you need help with this, or are you cool to run with it?

[2021-11-03 14:27] #143 closed

[2021-11-03 14:36] mcturco commented on #129
@boyney123 okay great, I think I will run with it for now but I will let you know if I need assistance with the logic side of things!

[2021-11-03 14:45] Barbanio commented on #129
@mcturco These templates look amazing. We could use something similar for the webinars too? What do you think?

[2021-11-03 15:25] mcturco commented on #129
Thank you @Barbanio! Yes, I think we could make a version for the webinars, definitely!

[2021-11-03 18:31] quetzalliwrites opened #155 "Create educational & technical video explaining AsyncAPI's main features"
#### Reason/Context
Creating an educational & technical video explaining AsyncAPI's main features will be helpful for new on-boarders that need a high-level intro to the spec.

This video can be used for any kind of audience and should be agnostic-minded.

---
Tagging @derberg @Barbanio @fmvilas

(note: Can lukasz or someone help me tag Debi into this issue? I don't know her GH handle and me tryin

[2021-11-04 07:06] Barbanio commented on #155
@alequetzalli That's a great idea, of course, count me in.  I understand that the main objective is a promotional and educational video that summarizes what AsyncAPI is, can it be?
On the other hand, I wonder if it is better to make a single video or a series of these. What do you think?

[2021-11-04 08:02] Docjones commented on #155
Guess that's not related to me in any way...?

[2021-11-04 08:12] derberg commented on #155
@alequetzalli GH sucks in proper support to research on user handle when tagging -> @doc-jones (this is our Doc 😄 )

@Docjones not, but you can join us here, especially if you did not hear about AsyncAPI and much about Event-Driven Architecture before, we would love to see some validate the script and idea for the video 😄

[2021-11-04 08:27] #144 closed

[2021-11-04 08:33] derberg commented on #129
Yes because the live streams will stay after conference, they have nothing to do with the conference.
So for `Contributor-first` meetings I will have to change it to `[AsyncAPI Logo] Contributor-first`

[2021-11-04 09:00] boyney123 commented on #155
@alequetzalli I love the idea, would of helped me loads when I was learning what's going on and the ins + outs of AsyncAPI.

@Barbanio think my vote would be series of smaller videos, each video that focuses on a particular part of the spec, just some examples

- What is AsyncAPI
- Why it was created
- Defining Events with AsyncAPI
- Publish/Subscribe
- etc...

To be honest once you get passed tha

[2021-11-04 20:55] mcturco commented on #129
No problem! I can be sure to make that editable.

Otherwise, here are the final files in this Figma prototype link (arrow through to see them all): https://www.figma.com/proto/HN7QrFterf4JZ7AyTRZ2y1/Speaker-Cards?page-id=2%3A26&node-id=33%3A354&viewport=241%2C48%2C0.5&scaling=min-zoom&starting-point-node-id=33%3A354&show-proto-sidebar=1

The only problem I was having was for the Live Stream versio

[2021-11-05 12:19] jonaslagoni commented on #133
I would like to discuss a proposal to start a new recurring SIG meeting for collectively pushing 3.0.0 efforts. This way anyone can follow along in the progress and if interested help out either from a spec perspective or tooling.

[2021-11-06 07:21] asyncapi-bot opened #160 "Contributor-first Meeting, 8AM UTC Wednesday November 10 2021 - CANCELED"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-11-06 07:22] asyncapi-bot opened #161 "Contributor-first Meeting, 4PM UTC Wednesday November 10 2021 - CANCELED"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-11-08 19:55] derberg commented on #129
ok, so how can we start doing speaker cards, conference is right behind the corner 😅
I will actually have to ask someone to do it, but first need some instructions

[2021-11-08 20:04] mcturco commented on #129
I can make them all! Should I just follow the schedule that is on the website?

[2021-11-08 20:05] derberg commented on #129
❤️ ❤️ ❤️

yes please 🙇🏼‍♂️

[2021-11-08 20:11] mcturco commented on #129
Okay I will work on that now!! If they don't have a headshot, what should I use?

[2021-11-09 13:08] smoya opened #163 "AsyncAPI spec v3.0.0 release journal"
This issue keeps a journal of the release process for AsyncAPI spec `v3.0.0`.
The journal format is gonna be accomplished by making GH comments. There is no particular format on those but feel free to suggest it if you feel it is necessary.

The main goals for such thing are:

1. To have a common reference point for all people interested in keeping up with this current release process.
2. To use i

[2021-11-09 13:15] smoya commented on #163
During today's [SIG Meeting](https://github.com/asyncapi/community/issues/133) @jonaslagoni is gonna suggest a new recurring meeting for those interested in following and/or working on the `v3.0.0` release efforts.

The creation of a "Working Group" might also be suggested so we have a group of people that will work on the release process of this `v3.0.0` version.

[2021-11-09 13:41] magicmatatjahu commented on #133
I see that there are many topics and probably will not have enough time for mine, but I add it not to forget for the next meeting - Proposal to allow defining schema format other than default one (AsyncAPI Schema) https://github.com/asyncapi/spec/issues/622

[2021-11-09 14:13] mcturco commented on #129
@derberg I have the finalized speaker cards for each talk in the conference. Should I commit these files into the community repo? Or should I just share them with you?

[2021-11-09 14:24] derberg commented on #129
@mcturco awesome ❤️ share them with me on DM and I will put them on AsyncAPI drive and mention link here in the comments for others so they can check them out too

[2021-11-09 20:35] #129 closed

[2021-11-09 20:37] mcturco opened #164 "Create conference stream background graphic"
- Suggested 1920 x 1080

[2021-11-09 21:06] mcturco commented on #164
@derberg here is a "template" for you to test if that works where I think the video would go

![Conference_VideoTemplate](https://user-images.githubusercontent.com/60163079/141004682-ed812007-b443-4f50-8278-1b52aed6a579.jpg)

[2021-11-10 07:21] derberg commented on #164
It looks almost perfect when I use it as a background and not overlay, which I think is fine. Just have a look on this super-thin black line below the video, above `[logos here]`

![Screenshot 2021-11-10 at 08 18 57](https://user-images.githubusercontent.com/6995927/141067559-a674d58b-f632-45c7-b3b3-0872b12fee89.jpg)

[2021-11-10 07:26] #161 closed

[2021-11-10 07:26] #160 closed

[2021-11-10 09:19] #133 closed

[2021-11-10 09:22] asyncapi-bot opened #166 "Community SIG Meeting, 8AM UTC Tuesday November 23 2021"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](https://everyti

[2021-11-10 09:23] asyncapi-bot opened #167 "Community SIG Meeting, 4PM UTC Tuesday December 7 2021"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](https://everyti

[2021-11-10 09:24] asyncapi-bot opened #168 "Community SIG Meeting, 8AM UTC Tuesday December 21 2021"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8AM UTC](https://everyti

[2021-11-10 14:46] mcturco commented on #164
Wow @derberg you must have woke up in an interesting mood this morning 😆

Here is a version with the logos

![Conference_VideoTemplate_v2](https://user-images.githubusercontent.com/60163079/141134366-7a29733e-736e-4612-ba99-6e2e862bfa26.jpg)

Are you able to fit the video in the black box? I would ideally like there to be white space above and below the video if possible!!

[2021-11-11 13:53] derberg commented on #164
@mcturco @fmvilas this is how it looks like when ti is used as a background, lgtm

<img width="2323" alt="Screenshot 2021-11-11 at 14 52 27" src="https://user-images.githubusercontent.com/6995927/141309663-1d2cd4dc-d3aa-4295-8ce5-e0fbe18cb919.png">

[2021-11-11 14:19] alequetzalli commented on #164
Wow, just dropping in here to admire the awesome new look!! ￼￼

[2021-11-11 15:35] mcturco commented on #164
@derberg okay! Are you guys good with it kind of casting a shadow on the sponsor logos?

[2021-11-11 15:47] derberg commented on #164
@mcturco there is the problem with the black part in the middle, @fmvilas will talk to you about it, I'm off organizing recordings in one location

[2021-11-15 17:19] asyncapi-bot opened #170 "Contributor-first Meeting, 4PM UTC Wednesday November 24 2021"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-11-16 07:55] derberg opened #171 "Get better solution than Google groups to handle distribution list for meeting invites"
Currently, we have [this](https://groups.google.com/u/1/g/asyncapi-users) Google Group where people have to join if they want us to send them meeting invites.

Current issues related to this:
- from time to time community members point out this as a blocker as it requires google account
- when an invite is sent to google group distribution list, the list is auto-expanded and not anonymous

Possibl

[2021-11-22 12:18] jonaslagoni commented on #163
@smoya and I went down a bit of a rabbit hole that was triggered by referencing behavior, gathered everything under a blog post for visibility on the problem - https://github.com/asyncapi/website/pull/461

[2021-11-22 18:25] jonaslagoni opened #173 "Whats the reason to have a maintainers group on GitHub?"
#### Reason/Context
We have an [AsyncAPI Maintainers group](https://github.com/orgs/asyncapi/teams/maintainers) here on GitHub, but why?

#### Description
As each repository have specific code owners that are the maintainers of that repository. Any changes should go through the same contribution guideline as every other contributor: https://github.com/asyncapi/.github/blob/master/CONTRIBUTING.md.

[2021-11-23 18:05] derberg opened #178 "we should have a GH workflow that posts a welcome message to the PR that is merged that contained new TSC member"
as in title, we just need to agree on the message

Why we need that?

we are nice and like to have fun, lets do it

cc: @alequetzalli

[2021-11-24 10:07] derberg commented on #178
GitHub action should react on pull request `closed` event and validate that it was really merged `github.event.pull_request.merged == true`. Then we need to put a comment using action `uses: actions-ecosystem/action-create-comment@v1` with `Welcome` message

[2021-11-24 15:14] #166 closed

[2021-11-24 16:16] derberg commented on #170
Sorry folks for the late info. We all suddenly lost access between our streaming platform and YouTube. It is not a quick fix and this is why we have to move the live stream for tomorrow. Sorry, a lot for this situation.

[2021-11-29 07:53] derberg commented on #129
@mcturco yo, I'm continuing with `Contibutor-first` live streams and just wanted to confirm that you suggest continuing with what you proposed above (`Hosted by` and `Special Guest`) and the same brand as for the conference. Also, where can I find PSD file template that I could edit?

[2021-11-29 07:55] asyncapi-bot opened #183 "Contributor-first Meeting, 3PM UTC Tuesday November 30 2021"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-11-29 07:56] derberg commented on #183
This time we will talk about contributing to AsynAPI Specification by helping with release coordination.

Related procedure is [here](https://github.com/asyncapi/spec/blob/master/RELEASE_PROCESS.md)

[2021-11-29 17:19] derberg commented on #173
this is legacy stuff, will be cleaned up once I merge https://github.com/asyncapi/community/issues/171

more details: https://asyncapi.slack.com/archives/C34F2JV0U/p1638206268228000

[2021-11-29 17:21] mcturco commented on #129
@derberg I have a plan to make an online generator for this, but for now I have set up a template file in Figma that I have just invited you to. Not ideal as only Postman employees can edit Figma files, but this is how we will handle it for now. I also don't mind making you some speaker cards if you send me the info 😄  either way

[2021-11-30 08:13] derberg commented on #129
ok then, lemme wait for the online generator 😆 🙇🏼

[2021-12-01 02:06] alequetzalli commented on #155
I am interested in participating, but mostly because I want women on those videos too. 😀 (@Barbanio, would you also do some of them so that we have several women faces too? ❤️✨✨)

I love the idea of creating a playlist for this learning vids and of thinking more about what creating a simple Learning platform  for us could look like. 😀 I have started thinking about this more and more lately!!

[2021-12-01 08:44] Barbanio commented on #155
Great @alequetzalli! Of course, we have to give more visibility to women in the sector 💜

[2021-12-01 11:27] derberg commented on #155
I suggest rethinking the length of videos or basically being flexible there. When you will work on scripts, consider 1min length of videos to later release these as YouTube Shorts. Shorter videos, more chance people will watch it

[2021-12-01 11:43] Barbanio commented on #155
Yes, we could make the videos of 5-15 minutes, being flexible here, and then take out a teaser for social networks.

[2021-12-01 13:19] doc-jones commented on #155
Since this is basically an experiment, we should do all the things with a plan to measure the results so that we can do more of what works and less of what doesn't.  Does our audience want 1 min teaser videos or should we do longer videos?  What about adding links in the Show More tab?  As an avid consumer of Youtube videos, I always appreciate those links pointing me to where I can get more infor

[2021-12-01 14:05] boyney123 commented on #155
Yeah I agree with @doc-jones here, we should do some things and learn from feedback etc (whatever that looks like)

Same with @doc-jones I'm a huge user of Youtube to learn stuff, 1 minute videos personally would not be enough for me, when I learn a new tool or thing I personally want more than a minute, something high level, with slight level of detail, but having more detailed videos if I wanted

[2021-12-01 14:24] #170 closed

[2021-12-01 14:25] #183 closed

[2021-12-01 14:39] derberg commented on #171
oh my god 🤦🏼 I was always expecting a kind of `Bcc` and just noticed on Monday that there is actually a checkbox that I can select to hide names...

anyway, would be good to have something vendor agnostic

[2021-12-02 08:33] derberg commented on #155
We should just be flexible and try to satisfy as many different users as possible. There will always be different preferences and thing that @Barbanio wrote I think makes most sense

Why? because we already have one experiment done: https://www.youtube.com/watch?v=pU71J-F7pfI

I recorded ☝🏼 this last year, for the Hacktoberfest participants, there was a series of videos that I wanted to give folks

[2021-12-02 09:17] asyncapi-bot opened #186 "Contributor-first Meeting, 4PM UTC Wednesday December 8 2021 - React component"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-12-02 09:17] derberg commented on #186
This time we will talk about contributing to react-component

[2021-12-02 11:51] derberg commented on #33
Ok folks, I will close this issue for now. We got it working. Regular live streams since October. Scheduled meetings, guests, dedicated slack channel, all set and running 🥂

Thank you all.

We are using Restream to stream to different platforms, they do not yet support Text-to-Speach but @arjungarg07 I remember and am in contact with them

[2021-12-02 11:51] #33 closed

[2021-12-03 11:24] smoya commented on #163
Parser-JS implementing the [Parser-API](https://github.com/asyncapi/parser-api) (https://github.com/asyncapi/parser-js/issues/401) could be considered a thing now that we would need to adapt the parser for `3.0.0` changes.

We would like to get a list of pros/cons about adopting the [Parser-API](https://github.com/asyncapi/parser-api), for later on presenting them to the community so we can all ma

[2021-12-03 11:29] smoya commented on #163
@derberg has started a new GH Discussion [here](https://github.com/asyncapi/community/discussions/187) for "**Start collecting AsyncAPI use cases**".
This is extremely valuable for understanding what should `v3.0.0` should cover, also what could be postponed to future versions, and how changes that are candidates to be in `v3.0.0 could affect others.

[2021-12-03 13:39] asyncapi-bot opened #188 "Contributor-first Meeting, 4PM UTC UTC Monday December 6 2021 - Parser API"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-12-03 13:41] derberg commented on #188
this time Jonas and Sergio will talk about [Parser API](https://github.com/asyncapi/parser-api)

[2021-12-06 08:56] derberg commented on #171
Talked to CNCF folks and also community managers from the slack workspace where we team up.
Recommended, or basicaly the only good alternatives, not perfect but do the job:
- for distribution list -> https://groups.io/ -> it is like google group but non-google
- for calendar -> https://www.teamup.com/ -> they have API and they are non-google

[2021-12-07 15:58] #188 closed

[2021-12-08 10:35] #167 closed

[2021-12-08 12:17] derberg opened #196 "Come up with a cron workflow that keeps TSC MEMBERS file in sync with the reality"
I don't think the JSON file should be updated with new members as CODEOWNER doesn't have to be TSC MEMBER.

So my intention is just to keep in sync information about current members:
- get member name,
- check what repos is member responsible for
- check all repos and their codeowner files

if member info about managed repos is missing some repos or has repos that given member is not responsible f

[2021-12-08 12:19] derberg commented on #196
Hint: for getting info about user from CODEOWNERS we should use GitHub search API as it will not be that "expensive" and you can narrow search to specific file -> [here is some code example](https://github.com/derberg/npm-dependency-manager-for-your-github-org/blob/main/lib/api-calls.js#L3-L6)

[2021-12-08 12:29] derberg commented on #196
on the other thing, we could ping users that are codeowners but on on tsc list, like send them an email or something that they can add themselves to the list 🤔

[2021-12-09 13:10] magicmatatjahu opened #198 "Incompatible GOVERNANCE.md file"
With a conversation with @derberg, it turned out that most likely some parts in the [`GOVERNANCE.md`](https://github.com/asyncapi/community/blob/master/GOVERNANCE.md) file are not compatible with the [`CHARTER.md`](https://github.com/asyncapi/community/blob/master/CHARTER.md) file. We should review both files and correct the differences.

[2021-12-14 12:20] #186 closed

[2021-12-14 16:39] asyncapi-bot opened #202 "Contributor-first Meeting, 4PM UTC Wednesday December 22 2021 about AsyncAPI brand and ways to contribute product design - canceled"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-12-17 14:49] Barbanio commented on #155
Organization and Script of the workshops:

To organize the structure I think that perhaps we could do it in blocks to organize the common thread of the videos.

I think that starting with a general and global overview of the AsyncAPI environment will help the user who does not know some of these terms to better understand the specification.

Example:

**Block 1: Introduction to the world of AsyncA

[2021-12-21 08:33] #168 closed

[2021-12-21 11:52] derberg commented on #173
What `Maintainers` group? 😆

It is removed now. There are now only 2 groups:
- 1 secret with bots
- 1 public with TSC members so we use it to ping folks to join discussions

Regarding maintenance of specific repo, folks are invited there individually.

I assume we can close it. Feel free to reopen if I'm wrong

[2021-12-21 11:52] #173 closed

[2021-12-21 11:53] derberg commented on #164
I think this can be closed

[2021-12-21 11:53] #164 closed

[2021-12-21 11:55] derberg commented on #4
I think they communicated recently that this is now natively supported by GitHub, right?
but I guess we will solve it once @mcturco completes work on refreshed brand? Can we leave it on you Missy?

[2021-12-21 15:40] mcturco commented on #4
@jonaslagoni @fmvilas @derberg
When I was reading the github markdown docs the other day I saw that there is a way to switch the image based on the current theme. [Here is the link to read it in the docs.](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#specifying-the-theme-an-image-is-shown-to)

I haven'

[2021-12-22 09:00] #202 closed

[2021-12-22 09:11] asyncapi-bot opened #207 "Community SIG Meeting, 4PM UTC Tuesday January 11 2022"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [4PM UTC](https://everyti

[2021-12-22 09:15] asyncapi-bot opened #208 "Let's talk about contributing at AsyncAPI, 4PM UTC Wednesday January 12 2022 - about AsyncAPI brand and ways to contribute product design"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2021-12-22 17:08] mcturco commented on #4
Unfortunately, it seems like the dark mode/light mode options that GH has introduced are a little buggy. When I was testing this method and the `prefers-color-scheme` method, it seems like it only does the switch based on the user's OS settings and ignores the theme settings in GH, which is strange.

To resolve this, I just used the same banner design that I created for the brand repo, that way th

[2021-12-22 19:44] derberg commented on #171
we need to speed up stuff here.

- When I'm updating invites to AsyncAPI meetings I'm now rejected everywhere :( and gmail is cool but not if it comes about customer service, I just have no idea what is happening
    ![Screenshot 2021-12-22 at 20 38 06](https://user-images.githubusercontent.com/6995927/147146412-278acf64-ca53-41e1-92de-88651224556f.png)
- people do not have options to easily sign

[2021-12-23 19:26] jessemenning commented on #198
Thanks for opening this @magicmatatjahu

Some things that were confusing to me:

- Is the project director in [GOVERNANCE.md](https://github.com/asyncapi/community/blob/master/GOVERNANCE.md) the same as the executive director in [CHARTER.md](https://github.com/asyncapi/community/blob/master/CHARTER.md)?
- Is @fmvilas serving in the role of ED?  If so, we should name him in GOVERNANCE.md per CHARTE

[2021-12-23 20:41] fmvilas commented on #198
Yeah, I'm serving as ED but we have to add it to GOVERNANCE.md file.

I'd get rid of the content of the GOVERNANCE.md file and start from scratch adding whatever is required to be there as per the CHARTER.md document. I don't think it's a lot IIRC.

And no, the GOVERNANCE.md file will not be deprecated. It has to coexist with the charter but not with the current content.

[2021-12-27 09:24] derberg commented on #198
I agree here, just remove whatever is there in the file and add info about ED only. Then over time document will evolve once we clarify more things, like TSC voting. Till now we experimented with google groups and GH discussions. Might be that https://github.com/asyncapi/.github/issues/102 will end up being documented in GOVERNANCE file

[2021-12-29 17:22] smoya commented on #163
I updated https://github.com/asyncapi/parser-js/issues/401 reflecting all collected pros/cons of implementing the Intent-Driven API and Parser-API. So now the question we need to answer asap in there is, should we move forward?

[2022-01-03 09:34] magicmatatjahu commented on #4
@mcturco Could we create issue for that:

? 🤔  I think that people from GH should know that problem - or probably some person already created it 😄

[2022-01-03 09:46] derberg commented on #4
When I was recently working on my new blog, I had hacked my logo to support both, dark and light mode by adding custom style to SVG, and fill set to `currentColor` and it kinda works

check out https://raw.githubusercontent.com/derberg/derberg.github.io/main/data/logo.svg

[2022-01-03 14:30] mcturco commented on #4
@magicmatatjahu @derberg There's actually a long support thread on GH where a lot of people are having issues with changing logo versions on different themes. I think it's because there are too many conflicts between the OS's current theme and GH's own themes. I suppose they are working on it?

Here's a link to the most recent update (13 days ago) from a staff member at GH on the issue: https://gi

[2022-01-10 15:04] Barbanio commented on #155
Hi, I would love to start working with the videos for the Block 1. For this we would need:

- An intro and an outro to put at the beginning and end of each recording, could you give us a hand with this, @mcturco?

- Speakers. It would be a 5 to 15 minutes recording developing the script points (the script is modifiable and adaptable). For this it would be interesting to consider diversity in the s

[2022-01-11 10:48] derberg commented on #155
We also need a separate video on the differences between AsyncAPI and OpenAPI. [This](https://www.asyncapi.com/blog/openapi-vs-asyncapi-burning-questions) is the most performing article we had last year. Many folks come here from OpenAPI, and we also openly say that AsyncAPI is inspired by (actually a lot of spec was copied from them) OpenAPI

We should have a video also that explains how this mod

[2022-01-11 15:09] Barbanio commented on #155
Thank you for your feedback @derberg

Do you think this topic could be addressed at one point in this video or would it be better to make a separate video?

Yes, I'm working on this 🙂.

I agree with you but I have a doubt about the scripts, do you mean to transcribe literally the content of the video or to do it more schematically?

[2022-01-11 15:12] derberg commented on #155
Actually, I somehow thought each bullet point is a separate video 😄  I think now have idea for how to have long and short videos 😄

not sure what you mean by `schematically`. I think that script should say exactly what the person should say. Is this what you ask?

[2022-01-11 15:20] Barbanio commented on #155
Yes, this was my doubt, thank you :)

[2022-01-13 09:18] #207 closed

[2022-01-13 12:24] derberg commented on #208
Recording of the live stream -> https://www.youtube.com/watch?v=Qgssaed1AqI

[2022-01-13 12:24] #208 closed

[2022-01-14 09:03] asyncapi-bot opened #230 "Community SIG Meeting, 8 UTC Tuesday January 25 2022"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [8 UTC](https://everytime

[2022-01-14 09:08] asyncapi-bot opened #231 "Community SIG Meeting, 16 UTC Tuesday February 8 2022"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [16 UTC](https://github.c

[2022-01-15 02:50] alequetzalli commented on #155
Hey @Barbanio, finally caught up with this thread  😄✨✨.. I honestly am in awe of the outline you proposed/created. I literally love it and can't think of any suggestions or feedback! You are so good at this! 🙊🥳🥳🥳

To your questions, I think we need to begin by simply doing it ourselves. I mean, now we have more women like you, @mcturco , myself... so I would honestly first like to propose that ANY

[2022-01-17 09:34] char0n commented on #230
I'd like to propose a following agenda during the SIG Meeting:

- https://github.com/asyncapi/spec/issues/607
- https://github.com/asyncapi/spec/issues/674
- https://github.com/asyncapi/spec/issues/612

[2022-01-17 09:41] asyncapi-bot opened #234 "Community SIG Meeting, 16 UTC Wednesday January 19 2022"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [16 UTC](https://everytim

[2022-01-17 09:41] asyncapi-bot opened #235 "Spec 3.0 Meeting, 16 UTC Wednesday January 19 2022"
This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.

**The meeting takes place bi-weekly on Wednesdays**. First and third week every month until release. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pihClJY-kXuTRRJ8n1awb0VV) playlist on YouTube.

**This time we meet at [16 UTC]

[2022-01-17 09:41] #234 closed

[2022-01-17 09:41] derberg commented on #234
created by mistake

[2022-01-17 09:48] derberg commented on #235
Join through https://studio.restream.io/guest/ejh3MFh2VtxtaKVadEgFnV_DhG_h-1I?event

[2022-01-17 11:19] derberg commented on #230
@char0n sure think, added, just do not know if we will manage to discuss all, we usually talk a lot 😆

[2022-01-17 11:32] char0n commented on #230
@derberg sure ;]

[2022-01-17 14:13] Barbanio commented on #155
Yes, of course, the more people involved the better the result!

I agree with you, it makes complete sense.

[2022-01-18 15:06] jonaslagoni commented on #235
I would like to start the meeting by proposing a format for discussing the agenda items, as I expect there will be quite a few subjects and introductions, having one hour to do as much as possible, we need to have a bit of structure 😅

I would like to update you on the following subjects to the agenda:
- I want to give a quick update on splitting out schema definitions: https://github.com/asyncapi

[2022-01-18 15:07] jonaslagoni commented on #235
cc @derberg I cant edit the agenda, so you need to do that 😄

[2022-01-18 15:14] derberg commented on #235
@jonaslagoni how about now?

[2022-01-18 15:16] jonaslagoni commented on #235
Nope.

[2022-01-18 15:20] jessemenning commented on #235
@jonaslagoni I like the proposed topics.  I do feel like we first need to have an agreement on:
- what does/can/should AsyncAPI represent (e.g. single application implementation, client interface, application interface, event-driven infrastructure)
- Do AsyncAPI documents need to conform to JSON Schema?
-  What are the important things that absolutely need to be in v3 for it to be considered compl

[2022-01-18 15:29] derberg commented on #235
I added tsc group with `Triage` rights but guess it is not enough to edit issues. This sucks 😞
We will need to change strategy here @jonaslagoni as I definitely do not want to be your personal issue editor long term 😄

the only solution I see really that issue just talks about meeting in general, like here https://github.com/asyncapi/community/issues/208 and rest is added by you and others in comm

[2022-01-18 16:02] jonaslagoni commented on #235
I dont see the problem :trollface:?

Let's do it this way, before each meeting I copy-paste the issue section and add a brand new comment at the end that includes the agenda and whatnot.

[2022-01-18 16:24] jonaslagoni commented on #235
Good points @jessemenning.

I guess this falls perfectly under `I want to give a quick update to the many meanings of AsyncAPI just to give some food for thought`, right?

Adding to the agenda! cc @magicmatatjahu

Good question, adding!

Keep in mind this is not a working group per say, at least that is not the intention, anyone is welcome to join and leave as they see fit, it is just a meeting of

[2022-01-18 17:24] derberg commented on #235
@jonaslagoni 👍🏼  we only need to update the workflow that creates this issue, so it is clear where agenda, notes and recording link ended up

[2022-01-19 09:55] magicmatatjahu opened #238 "Create eslint plugin for organization repositories"
As our organization is expanding and we are creating/migrating more repositories, some of them also require eslint integration.

This is problematic because we have to copy the config file from our other repository each time. We should go in the direction of one configuration that we can override, something like the `@asyncapi/eslint-plugin` package. The config itself should support both JS and TS

[2022-01-19 13:47] smoya commented on #235
@jonaslagoni I would like to give a short update on the status of https://github.com/asyncapi/spec/issues/618 and a call for help on it :)

[2022-01-19 13:49] jonaslagoni commented on #235
## Agenda

1. Q&A
1. Update on splitting out schema definitions - @jonaslagoni - https://github.com/asyncapi/spec-json-schemas/pull/128
1. The many meanings of AsyncAPI, some food for thought - @jonaslagoni - https://github.com/asyncapi/spec/issues/628 - https://github.com/asyncapi/spec/issues/658
1. Do AsyncAPI documents need to conform to JSON Schema? - @jessemenning
1. What are the important th

[2022-01-19 13:54] magicmatatjahu commented on #235
The update isn't much because I haven't done anything around this topic since propose idea. As for the problem itself, it's more related to what direction we'll go with referencing in AsyncAPI, because that's the most problematic in my proposal. We have to take into account that referencing in JSON Schema only allows you to reference another JSON Scheme, this is a drastic cut off the possibility o

[2022-01-19 13:57] jonaslagoni commented on #235
That is also a perfect update, what updates have happened, what are you stuck on, and what do you need from others 😄

[2022-01-19 14:53] magicmatatjahu commented on #235
if you want, please :)

[2022-01-19 18:11] derberg opened #240 "Pipeline/backlog of tasks to do to make community and contributors happy - 2022 update"
This issue is a list of topics, ordered roadmap of things I want to push/drive on in the coming weeks/months aside from everyday tasks. So these are items that are not trivial and need at least one week of work.

I share the list with you to:
- Be transparent with you on what I do, what I focus on to help out the AsyncAPI community
- Enable you to influence the list and its order. You see somethin

[2022-01-19 23:16] mcturco commented on #155
I would definitely be open to being a speaker if that helps!

[2022-01-20 12:02] doc-jones commented on #155
I found this video while doing some research on GraphQL.  What I love about this is the demo is something individually useful and illustrates a bigger concept.  How much are your bagels costing you?  heh. I just thought I'd share this as the team is in the planning phase for doing all sorts of videos.

https://portal.gitnation.org/contents/the-secret-to-graph-onboarding

[2022-01-20 14:38] smoya commented on #163
The meeting happened and it seems it had a good acceptance because people were very enthusiastic about keeping having more.
The meeting was recorded and can be watched on  [Youtube](https://www.youtube.com/watch?v=CLNgLB4-UnA).

As a result of it, several issues were created so we can follow up and progress on several topics:

- On one side, @jessemenning suggested to https://github.com/asyncapi/s

[2022-01-20 15:37] jonaslagoni commented on #235
Vidoes released, notes written and timestamps added, closing this issue.

https://github.com/asyncapi/community/issues/235#issuecomment-1016483507

[2022-01-20 15:37] #235 closed

[2022-01-21 03:51] sudoshreyansh commented on #240
Hi, I would like to work on the Meeting as a service.

[2022-01-25 10:09] #230 closed

[2022-01-26 19:10] derberg opened #245 "Meeting as a Service"
## Reason/Context
We grow as community, and also the need for different "focused" meetings grows. One of our principles is to be extremely transparent with all discussions. We need as easy as possible path to setup a meeting that is live streamed and recorded so anyone can see what was it about.

At the moment it is all manual, and I'm setting these things, and it is wrong. I don't want to be a bo

[2022-01-26 19:11] derberg commented on #240
@sudoshreyansh I created https://github.com/asyncapi/community/issues/245 so let us continue there

[2022-01-27 08:46] Krishks369 commented on #245
I would like to help on this issue.

[2022-01-27 09:01] derberg commented on #245
@Krishks369 awesome 🚀 so I definitely need someones help to first figure out Zoom API. How using API:
- schedule a single meeting
- schedule a reoccurring meeting
- update existing meeting

we need some working JS code that showcases how to do these 3 things and we know:
- what are the requirements (what we need to know, like dates, meeting IDs)
- can we schedule a meeting that is automatically re

[2022-01-27 11:24] fmvilas commented on #245
Have no opinion on this, @derberg. I'll keep paying for MailChimp for now so not a problem. Whatever works best.

[2022-01-27 21:12] sudoshreyansh commented on #245
@derberg I want to work on the 'Event scheduling automation' part. I have no prior experience with the Zoom API but I can go through it. The rest of the parts seem related to it. So maybe I can pick up more stuff as we proceed ?

[2022-01-28 06:35] derberg commented on #245
@sudoshreyansh hey, @Krishks369 will work on Zoom. You could figure out the Google API, write JS code that can create an event and cancel it with API and specify what we technically need. We also need events listing so later we can use it with MailChimp

Then we also need someone to figure out MailChimp API to send emails, what options we have there, how the email template part works, or better ju

[2022-01-28 06:57] sudoshreyansh commented on #245
Ok @derberg I'll work on those.

[2022-01-31 14:21] magicmatatjahu opened #249 "Define options for projects by JSON Schemas"
Today we have more and more projects to maintain and develop in our organization. We have decided that one of our main goals of this year will be to strongly develop the Studio as well as CLI.

One problem to meet this goal is the integration of other tools into those listed. E.g. `diff` integration into CLI, `modelina` integration into Studio etc. Currently every integration is the same - we do P

[2022-01-31 14:52] Souvikns commented on #249
This is something I was thinking about as well. As CLI depends on other tools, when they introduce some breaking changes it will automatically trigger a new release in CLI and it could also break.

I liked the idea, just trying to understand will the spec for diff look something like this.
[code]

**Some questions**
Will every tool be returning a spec or we would have a separate library that would

[2022-01-31 16:05] asyncapi-bot opened #250 "Spec 3.0 Meeting, 16 UTC Wednesday February 2 2022"
This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.

**The meeting takes place bi-weekly on Wednesdays**. First and third week every month until release. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pihClJY-kXuTRRJ8n1awb0VV) playlist on YouTube.

**This time we meet at [16 UTC]

[2022-01-31 16:10] derberg commented on #250
Zoom link to join -> https://us02web.zoom.us/j/9840447370

[2022-01-31 16:21] jonaslagoni commented on #250
## Agenda

1. Q&A
2. _Place for your topic_
3. Q&A

## Notes

tbd

## Chat

tbd

## Recording

tbd

[2022-02-01 09:55] magicmatatjahu commented on #249
@Souvikns

Yes it should look like your example but without `oneOf` in the `type` field, only with `enum`.

Every tool should have JSON Schema (spec) and corresponding function in the codebase due to simple fact: if someone will add new feature or introduce breaking change should also update that spec and function, so separate library isn't an option.

[2022-02-01 17:10] likitarai1 commented on #40
I would like to contribute to this issue. From what I understand from this discussion is that I have to -

1) Fork both repos i.e `community` and `.github`
2) Move the 4 files mentioned in comment (https://github.com/asyncapi/community/issues/40#issue-946311115) from `.github` to `community`.

Please correct me if I am wrong.

[2022-02-02 06:30] aayushmau5 commented on #249
Just so that I understand this clearly,
We will define all the options that our tool(ex. `diff`, `modelina`) will take in a JSON schema, and we will have a corresponding function that will allow certain options from that JSON schema to be passed to our tools. Right?

[2022-02-02 08:41] jonaslagoni commented on #250
I would like to start off the meeting with a recap of what I did after the last meeting (https://github.com/asyncapi/spec/issues/691)

@jessemenning do you want to quickly mention https://github.com/asyncapi/spec/issues/690, https://github.com/asyncapi/spec/issues/692,  and https://github.com/asyncapi/spec/issues/694 or do you want me to do it?

@damaru-inc do you want to quickly mention https://g

[2022-02-02 12:54] magicmatatjahu commented on #249
@aayushmau5

Yep, but that function should handle some custom logic on passed data (based on JSON Schema). I gave example for modelina when we need change language type to the corresponding language generator (in JSON Schema you cannot pass references to the object), so we also cover such a case.

[2022-02-02 13:45] jessemenning commented on #250
Thanks for the heads up, Jonas, I can quickly mention the issues that I am championing.

[photo]
Jesse Menning
CTO Architect
Phone: (734) 717-9147
Solace.com<https://solace.com/>

From: Jonas Lagoni ***@***.***>
Sent: Wednesday, February 2, 2022 3:42 AM
To: asyncapi/community ***@***.***>
Cc: Jesse Menning ***@***.***>; Mention ***@***.***>
Subject: Re: [asyncapi/community] Spec 3.0 Meeting, 16 UT

[2022-02-02 15:36] magicmatatjahu commented on #250
I will come to the meeting, but from my side I have nothing new, only that I gave a suggestion to create a separate branch on the repository `@asyncapi/spec` for example `next-major` and start creating PRs with the changes and start discussion there and not on issues because I noticed that on issues sometimes there is no activity.

When we will have a branch I will create PRs with changes for my t

[2022-02-02 17:39] derberg commented on #40
@likitarai1 exactly!
- just remember to configure your forks with https://github.com/asyncapi/.github/blob/master/git-workflow.md. It will make your life easier with future contributions, if you plan them :)
- also remove GOVERNANCE.md from `community` repo as it is outdated and confusing
- also please using GitHub search through all repos, if they refer to these files that will be removed from .g

[2022-02-02 18:19] mcturco commented on #4
@derberg I know I just submitted a PR that fixed the logo on dark mode for the community repo, but we should keep this issue open for fixes to the other repos, correct?

[2022-02-02 19:25] derberg commented on #4
Makes sense 👍🏼

[2022-02-03 08:15] sudoshreyansh commented on #245
I went through both Google Calendar and Teamup but I couldn't find any advantage of Google Calendar over Teamup from the user's perspective. Both provide an ICS feed so everyone can use whatever app they want. And Teamup's UI is much better for embedding.

From the API perspective, Google Calendar's API requires you to generate tokens through OAuth or create a service account which is a lot more s

[2022-02-03 08:22] derberg commented on #245
Thanks! I had the same view when I was checking team up, embedding is much better. What changes my perspective though is that over a half of our slack users are people with Gmail account. So you know, much easier for them to integrate asyncapi calendar with their calendars. This is what is super strong in Google calendar in our case. And complexity with service account setup is not something reocc

[2022-02-03 08:32] sudoshreyansh commented on #245
Yeah, that's true. So shall we go with Google Calendar or you want to give it more time ?

[2022-02-03 08:56] derberg commented on #245
yeah, let's go with google calendar, existence of ICS file solves a problem for people that do not want to have Google Account.

[2022-02-03 09:00] sudoshreyansh commented on #245
Okay

[2022-02-03 09:45] derberg opened #253 "Improving TSC participation in the discussions and voting"
#### Reason/Context

We want to be transparent - thus everything happens on GitHub.
We have a GitHub team with all TSC members that we can tag in GitHub issues/prs/discussions.

All good, right? well in theory yes. We could say that now it is TSC members' duty to know and participate in discussions. No way, we should also try as much as possible to notify TSC members on different channels that the

[2022-02-03 10:12] derberg commented on #178
What we need exactly in case of new TSC member:
- a welcome message directed to new TSC member (in future it can contain links to TSC guides)
- send a tweet about new member (we already do it for new releases https://github.com/asyncapi/.github/blob/master/.github/workflows/release-announcements.yml)
- make API call to add new TSC member to `@asyncapi/tsc_members` team

What we need exactly in cas

[2022-02-03 10:36] #250 closed

[2022-02-03 11:09] aayushmau5 commented on #178
Super cool issue. Would love to work on it :smiley:

[2022-02-03 12:17] Krishks369 commented on #245
After looking through the Zoom API documentation and coding some API calls. I have a working
js code for scheduling a single meeting, reocurring meeting and to update existing meeting.  verified it with my own account.

I have included the body of the request to let know what are the fields that are basic requirements to create a meeting

[code]
- To update a meeting the meeting ID is needed to be

[2022-02-03 13:43] likitarai1 commented on #40
Got it 👍 Will get back with a PR soon

[2022-02-03 14:59] asyncapi-bot opened #254 "Spec 3.0 Meeting, 16 UTC Wednesday February 16 2022"
This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.

**The meeting takes place bi-weekly on Wednesdays**. First and third week every month until release. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pihClJY-kXuTRRJ8n1awb0VV) playlist on YouTube.

**This time we meet at [16 UTC]

[2022-02-03 15:14] derberg opened #255 "We need to add new team to this repo"
#### Reason/Context
We manage meeting notes of all meeting with [GitHub issues](https://github.com/asyncapi/community/issues?q=is%3Aissue+is%3Aopen+label%3Ameeting)

After the meeting they need to be updated with meeting notes, recording link, and other stuff. But folks without proper rights cannot do it. And there are people like @jonaslagoni that do not maintain this repo but is one of meetings

[2022-02-03 15:23] asyncapi-bot opened #256 "Let's talk about contributing, 16 UTC Wednesday February 9 2022 - GSoC FAQ and others"
The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it. AsyncAPI Initiative is a large project, with lots of code, lots of docs, and many many other areas that need help, but it is not easy to start.

Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1

[2022-02-03 15:56] hkaur008 commented on #256
Cool 👍 will be there

[2022-02-03 17:33] derberg commented on #245
@Krishks369 awesome!

As for the captions, looks like it is a global one-time setting. I just enabled it for our current zoom account
![Screenshot 2022-02-03 at 18 29 24](https://user-images.githubusercontent.com/6995927/152396395-1de1dfe7-eb4d-4f8a-b245-8265c88e1d65.png)

We will see how it works during our next live stream next Wednesday -> https://github.com/asyncapi/community/issues/256

@aleq

[2022-02-03 19:22] ritik307 commented on #256
Nice 🎉

[2022-02-04 00:02] fmvilas commented on #255
Yeah, go ahead!

[2022-02-04 16:22] aayushmau5 commented on #178
Alright! Looking over the issue statement, my initial thoughts are:

First, we need a way to detect if any members are added or removed?(If so, how many?). I'm guessing we require some kind of diffing algorithm for this, since the TSC list is just a JSON file. What do you think?

Second, `make API call to add new TSC member to @asyncapi/tsc_members team`, does this mean we need to make a Github AP

[2022-02-07 10:34] derberg commented on #253
I don't see anyone picking on this one, so I will focus on Slack notification now on my own

[2022-02-07 17:31] sudoshreyansh commented on #245
I have written the JavaScript code for automating Google Calendar. The code can create, update, list upcoming, and delete events.

For creation, it requires:
- Title of the event
- Description, GitHub issue link, and zoom URL. These are put in a predefined template that forms the event's description.
- Start and end time
- For recurring meetings, the recurrence needs to be defined as specified in

[2022-02-08 23:07] alequetzalli commented on #255
Sounds good to me 👍🏽👍🏽

[2022-02-09 07:44] derberg commented on #255
@asyncapi/meetings-organizers folks, as you can see team is created, and now you can edit issues related to meetings to add agenda, meeting notes and shit like that, yo ☮️

[2022-02-09 07:44] #255 closed

[2022-02-09 08:56] derberg commented on #253
basic notification system for slack is added. TSC members that want to rely on Slack notifications should join `#95_bot-tsc-members-mentioned`

![Screenshot 2022-02-09 at 09 55 35](https://user-images.githubusercontent.com/6995927/153160345-f2b572a2-5ecd-4ca0-afd8-c18926f50af0.png)

[2022-02-09 13:49] #231 closed

[2022-02-11 18:51] imabp commented on #245
See, it may sound a crazy idea to execute it  via [asyncapi/cli](https://github.com/asyncapi/cli) something like this.. @fmvilas @derberg  but still I would definitely want to give it a try, as this will be nice fun to do 😄  and make Frans and Lukasz life easier.

`asyncapi  meet  create  --config=./meet-config.json  --token="teamUpToken"`

**meetconfig.json**

[code]

[2022-02-11 19:51] sudoshreyansh commented on #245
@imabp That's a nice idea. But asyncapi/cli is a public-facing product if I am not wrong. How do you plan to add a developer's only feature?

[2022-02-12 12:02] Souvikns commented on #249
I was playing around with the idea and was thinking if we can create cli plugins in the source code itself. So like in every tool we can have a `cli.js` file where we export a function and an option to be plugged into CLI.

In place of options, we export CLI parameters like `args`, `flags`, `descriptions`. So the tool itself can update the CLI as they need and when a new build is created the CLI g

[2022-02-14 09:33] magicmatatjahu commented on #249
@Souvikns Thanks for your response!

I This like that idea, but remember that not only CLI should be supported, but also Studio and ServerAPI, that's why I chose JSON Scheme. We can think about the function that performs the logic on the library side, but I would rather go into the JSON Scheme and turn the JSON Scheme into flags on the side of the CLI itself. In the future we can change the framew

[2022-02-14 12:29] Souvikns commented on #249
Thanks for the clarification @magicmatatjahu 😄

Yeah, make sense.

I know CLI very well so was just thinking in its terms. I will read up on studio and ServerAPI and try to think how we can have something that would be useful to these and also some new tools that might be written in the future.

[2022-02-16 10:50] jonaslagoni commented on #254
I would like to make an update on https://github.com/asyncapi/spec/issues/658 :)

[2022-02-16 11:02] smoya commented on #254
I would like to make an update on https://github.com/asyncapi/spec/issues/618

[2022-02-16 11:08] jonaslagoni commented on #254
I would like to discuss enabling RFC-3 stages across repositories.

[2022-02-16 12:54] magicmatatjahu opened #266 "An interface/project for describing errors/problems in tools in our organization."
We have a lot of tools in our organization. Some of them have their own errror/problem trading system, some don't have it at all and only throw exceptions from the main function. I think we should standardize this.

In the [ServerAPI](https://github.com/asyncapi/server-api) as well as in the [ParserJS](https://github.com/asyncapi/parser-js) we have a such of a system that we can extend and use in

[2022-02-16 15:20] magicmatatjahu commented on #254
I can't join it today but I'll listen to the recording on YT later :)

[2022-02-16 15:44] smoya commented on #254
I would also like to give a super quick update on https://github.com/asyncapi/parser-js/pull/453#issuecomment-1041759014

[2022-02-16 18:43] jonaslagoni commented on #254
The video is out and issue updated, closing!

[2022-02-16 18:43] #254 closed

[2022-02-17 09:17] smoya commented on #163
More "Spec 3.0" Meetings happened during last weeks. I won't add a new update every time there is another one but instead, I'm leaving here this link where you can find all of the issues we created per event. They include the agenda, video recordings, live chats and notes.

https://github.com/asyncapi/community/issues?q=is%3Aissue+is%3Aclosed+%22Spec+3.0+Meeting%22

[2022-02-19 18:57] aayushmau5 commented on #178
Been trying some stuff out, the biggest problem is finding whether the changes have been made or not to the desired file. As I said earlier, my initial thought was to find diff between the new version of file and the previous version. Not sure how to do this in an action though. I have been experimenting with finding diff with some command line tools or running JS script to find the diff.

[2022-02-23 14:06] imabp commented on #266
This seems, like we need our own Error Management Interface 😄
What you think, of building a repo for our error management ?

[2022-02-23 14:10] magicmatatjahu commented on #266
@imabp Yeah we need that because we have more and more integration and each library has another interface to describe errors, we should make them consistent.

I wrote about that in the first AP:

but I think that separate repo will be better. Then we can treat it as library and fetch everywhere we want.

[2022-02-23 17:17] imabp commented on #266
I think we should set up a new repo and try to have the initial setup which includes
- basic semantic release
- a dummy index export for now.

Choosing a name, is quite a bit difficult task.
So I have listed few names here.

- [ ]  `@asyncapi/error-interface`
- [ ]  `@asyncapi/problem-interface`
- [ ]  `@asyncapi/error-mgmt`
- [ ]  `@asyncapi/error-management`
- [ ]  `@asyncapi/error-management-in

[2022-02-23 20:02] magicmatatjahu commented on #266
@imabp We should go as you wrote, setup repo and needed things like `semantic-release`, however, please in mind that this task is participating in GSOC so we have to wait for it. As for the name I would prefer simple `@asyncapi/problem` :)

[2022-02-23 20:22] imabp commented on #266
This is so cool...
I wanted to start it now itself. 😅..

Meanwhile I will create the proposal,  which we can review on the way..

And then,  during the gsoc period, we can start coding it out..

Hope that works @magicmatatjahu and you also agree... 😋

[2022-02-28 15:30] #256 closed

[2022-02-28 15:59] asyncapi-bot opened #270 "Spec 3.0 Meeting, 16 UTC Wednesday March 2 2022"
This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.

**The meeting takes place bi-weekly on Wednesdays**. First and third week every month until release. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pihClJY-kXuTRRJ8n1awb0VV) playlist on YouTube.

**This time we meet at [16 UTC]

[2022-02-28 20:12] BOLT04 commented on #266
Amazing initiative @magicmatatjahu 💯 !!!!
I'm still curious about one thing, which is using the Problem details media type on all of AsyncAPI tools. We discussed that a bit [here](https://github.com/asyncapi/server-api/pull/26#discussion_r805166907) and on [other PRs](https://github.com/asyncapi/server-api/pull/22) 🙂 .
If we do this approach in tools like the `cli`, the tool would have to know abo

[2022-03-01 08:22] derberg opened #272 "List of Proposals for GSoC 2022"
To make the list available also for not logged in GitHub users, have a look at the list below:

##### Automatically generate docs

https://github.com/asyncapi/glee/issues/261

When describing the benefits of a spec-driven framework like Glee, I'm always mentioning the fact that we could have docs and code always in sync. However, we're not generating any docs, we're leaving this responsibility to

[2022-03-01 11:46] derberg opened #275 "Fix of CODEOWNERS files"
@asyncapi/tsc_members we need your action as soon as possible. But only if you have `CODEOWNERS` file in repos that you maintain (which is like 98% 😆 )

* Once we merge https://github.com/asyncapi/.github/pull/139
* All automated PRs will be accepted by new `asyncapi-bot-eve`
* But these PRs will not be automatically merged. Because only CODEOWNERS approvals matters
* **Your Action** You need to u

[2022-03-01 13:17] imabp commented on #266
@magicmatatjahu , let's keep the conversation going on this topic. I feel the need of it.
Do you have a specific call to action for now?

_PS: I am reading more on the topics, previously shared in the [first comment](https://github.com/asyncapi/community/issues/266#issue-1139983826) of this issue._

[2022-03-02 11:51] derberg commented on #275
I postpone merge of https://github.com/asyncapi/.github/pull/139 till evening as CI is pretty heavily occupied today, and I was not able to merge it in the morning due to other issues -> https://asyncapi.slack.com/archives/C01J06RL10X/p1646217113770569

[2022-03-02 12:09] smoya commented on #270
Unfortunately, I can't attend this one due to a conflict with a personal matter I should attend!

[2022-03-02 12:21] jonaslagoni commented on #270
I want to give a quick recap of the discussion we had this Monday about a collection of applications: https://www.youtube.com/watch?v=Vl8Nn3GOJiE

[2022-03-02 12:24] jonaslagoni commented on #270
I want to ask about the progress for https://github.com/asyncapi/spec-json-schemas/pull/128

[2022-03-02 12:25] jonaslagoni commented on #270
Tagging champions @magicmatatjahu @damaru-inc @char0n @Fannon @jessemenning, any progress/updates/discussions you want to have?

[2022-03-02 12:26] magicmatatjahu commented on #270
@jonaslagoni I don't have anything :)

[2022-03-02 15:46] jonaslagoni commented on #270
I would like to give a little update on: https://github.com/asyncapi/bindings/issues/113

[2022-03-03 08:45] derberg commented on #275
There will be now a bunch of PR created to update workflows with new bot. They will not be automatically merged and we also had to rename some jobs (thus branch protection is now misconfigured....). I'm on it

[2022-03-03 17:14] derberg commented on #275
@tsc_members looks like topic closed.

- workflows are update
- CODEOWNERS are updated in 55 repos, owners of remaining 4 got notified
- there should be no disruption on PR level now, no long hanging CI check

Remember, side effect is that now finally CODEOWNERS will work as expected. This means GitHub will automatically assign code owners as reviewers to PRs where files that they own are modified

[2022-03-03 17:14] #275 closed

[2022-03-03 21:23] jonaslagoni commented on #270
Recording is out: https://www.youtube.com/watch?v=Ax_AzRDlrls

[2022-03-03 21:23] #270 closed

[2022-03-03 21:26] asyncapi-bot opened #282 "Spec 3.0 Meeting, 16 UTC Wednesday March 16 2022"
This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.

**The meeting takes place bi-weekly on Wednesdays**. First and third week every month until release. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pihClJY-kXuTRRJ8n1awb0VV) playlist on YouTube.

**This time we meet at [16 UTC]

[2022-03-05 17:08] MitAbhay commented on #238
I am OpenForce 2022 contributor and interested to work on this issue, so can you please tell me some of the prerequisites to solve this issue, so that I can decide if this is for me or not?

[2022-03-07 09:42] magicmatatjahu commented on #238
@MitAbhay Hi! Yeah, sure, no problem:

- we need to create eslint configuration that we will be able to use in other packages, so it should be published to the npm like `airbnb` done https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb-base
- we should base that config on one of the ours config - modelina would be good https://github.com/asyncapi/modelina/blob/master/.esl

[2022-03-07 10:08] magicmatatjahu commented on #266
@imabp Yeah, sure, please ask about anything and I will answer :)

What do you mean by `call action`? Do you mean `use case(s)` or what?

[2022-03-07 11:22] char0n commented on #270
@jonaslagoni sorry for late response. Regarding championing from my side around https://github.com/asyncapi/spec/issues/699. I've aligned in the issue the course of action for 3.0.0 release of the spec. There is no update on this, nothing changed since I written it. I'll start pushing the issue very soon through the [RFC Contribution stages](https://github.com/asyncapi/spec/blob/master/CONTRIBUTIN

[2022-03-07 11:37] jonaslagoni commented on #270
👍

If you want to update folks on what you are working on and status, feel free to add it to the next agenda: https://github.com/asyncapi/community/issues/282 🎉 :)

[2022-03-07 11:44] char0n commented on #270
OK thanks. I'll issue a PR against branches described in https://github.com/asyncapi/spec/issues/691#issuecomment-1058330758 and it to #282 agenda.

[2022-03-07 12:46] imabp commented on #266
I meant `callToAction`, what should we do now ?
I am actually seeing and reading existing code...😅

[2022-03-07 21:01] vasantisuthar commented on #238
Hi, I am Vasanti Suthar. I am a contributor to OpenForce 2022, and I would like to work on this issue.

[2022-03-08 08:33] asyncapi-bot opened #285 "Community SIG Meeting, 16 UTC Tuesday March 8 2021"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at [16 UTC](https://everytim

[2022-03-08 08:34] derberg commented on #282
@jonaslagoni keep in mind you need to update template of this issue as it doesn't have info about streaming and zoom

[2022-03-08 16:13] imabp commented on #245
@sudoshreyansh
I am not sure, if I can commit myself to this idea. As I am working on other important tools.

 But creating a slack bot will help for such things..

[2022-03-08 17:34] #285 closed

[2022-03-08 20:15] mcturco opened #288 "Update social media assets to new brand"
#### Description
We are in the process of rolling out the new brand, so I think we should go ahead and start updating the following assets:

- LinkedIn Profile picture
- LinkedIn Cover photo
- YouTube Profile picture
- YouTube Cover photo/channel art
- Twitter Profile picture
- Twitter Cover photo
- Slack avatar
- Github avatar/profile picture

All of these assets are compressed in the file attach

[2022-03-09 11:39] aayushmau5 commented on #178
@derberg need some info on how to go about getting the changes?

[2022-03-09 15:26] vasantisuthar commented on #238
Please assign this to me

[2022-03-09 16:23] magicmatatjahu commented on #238
@vasantisuthar Sorry, I didn't notice the previous comment. Of course I can assign you, but @MitAbhay wanted to do it first. I don't know the ins and outs of OpenSource exactly, but according to me you can work together. As for the assignment itself, it would be best if you create your own repo first and then that repo will be moved to our org or @derberg should we create such a repo in our org no

[2022-03-09 16:35] magicmatatjahu commented on #266
@imabp Hmm 🤔 As you know, we didn't get into GSOC so it's no problem for me to start doing it even now. Of course I can be your mentor, no problem. @derberg do we have to wait for something or can we start doing it (as part of our "internal GSOC")?

[2022-03-09 16:52] imabp commented on #266
I have plans to start this from next week. As having exams this week.
Lets do it @magicmatatjahu .. Waiting for a green flag from @derberg

[2022-03-09 16:53] magicmatatjahu commented on #266
@imabp Don't worry :) We can start even in next week. Good luck with exams!

[2022-03-10 07:38] Souvikns commented on #249
I have an idea about how we can create one single JSON definition and use it in all other tools be it in `CLI` and `server-api`. We need an interface that would let the maintainer of the library control how the input and out format. This way the maintainer can completely change the library usage and still, nothing will break.

For example -

This is the integration function that `bundler`would exp

[2022-03-10 10:02] Barbanio commented on #155
Hi! While creating and revising scripts, we can look for graphic connections between the text we are working on from the videos and what will appear on the screen. This work will allow us to design the sketch of each video. An option would be to represent it in a storyboard.

I've been looking at different storyboarding tools. I think I'm going to start with Storyboarder since it's a program open-

[2022-03-10 14:36] mcturco commented on #155
@Barbanio Good idea on the Storyboarding! I think that your outline is good but I am thinking that we could bring the speaker in full screen at some points during the video content portion. This will help to retain attention and could break up the monotony by retaining that connection between the viewer and the speaker. What do you think?

[2022-03-10 14:51] Barbanio commented on #155
@mcturco Sure, it's a good idea. This is just a general approach. When editing, we will find a way to play with the rhythm of the images, including the speaker ones.

[2022-03-10 18:14] fmvilas commented on #288
I think we can close this one now 😄

Amazing work, @mcturco! 🙌

[2022-03-10 18:15] mcturco commented on #288
Absolutely, thank you @fmvilas for your help with this! 😄

[2022-03-10 18:15] #288 closed

[2022-03-11 15:10] mcturco opened #291 "Update README with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 15:10] mcturco commented on #291
/gfi design

[2022-03-11 15:39] everly-gif commented on #291
Hi I would like to take this up

[2022-03-11 16:02] mcturco commented on #291
Hi @everly-gif! Thank you! Just assigned to you 😄

[2022-03-11 16:23] everly-gif commented on #291
Hi @mcturco  just made a PR with the changes #292
Let me know if it looks good  :)

[2022-03-13 17:56] imabp commented on #266
Hello @magicmatatjahu
I am finally done with exams for now...
Shall we start with repo creation for this ?

[2022-03-14 09:08] #291 closed

[2022-03-14 14:32] asyncapi-bot opened #294 "Community SIG Meeting, 8 UTC Tuesday March 22 2022"
This is the meeting for the AsyncAPI Special Interest Group (SIG). You're invited to [join us](https://postman.zoom.us/j/84526612450?pwd=M0dKZ2YySVNJRC9PM095bm8xbGVyQT09) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

*

[2022-03-14 15:20] smoya commented on #294
I would like to add a new topic for the agenda: Mentioning the release for the version `2.4.0` of the spec has been initiated and it is planned to happen in April 2022. To mention a few links of interest and raise awareness for contributors.

[2022-03-14 17:51] derberg commented on #245
Hey folks, lovely volunteers, does anyone have time to crack MailChimp API in are of newsletter requirements described in the issue?  We know google API, we know Zoom, just MailChimp capabilities are not clear

[2022-03-14 18:10] imabp commented on #245
Do you have any issues @derberg , what all do we need to cover for mailchimp api, i can try it out...

[2022-03-15 10:58] derberg commented on #245
@sudoshreyansh @Krishks369 can you folks share the code that you researched, for zoom and google calendar? I want to start working on final implementation

[2022-03-15 16:11] Krishks369 commented on #245
@derberg
index.js
[code]
config.js
[code]

This api call is to create a meeting, change the fields wherever required  and add fields according to the specific needs. Do ping me if you want some more info on specific settings

[2022-03-16 13:19] jonaslagoni commented on #282
I would like to bring up:
- Branch situation needs a bit of discussion I think. Related PR's, cc @smoya:
  - https://github.com/asyncapi/spec-json-schemas/pull/180
- How do we handle the sync between other spec releases.
- Status on https://github.com/asyncapi/spec/issues/658

[2022-03-16 13:41] magicmatatjahu commented on #249
@Souvikns It's one of the possible solution but I don't like the `output` idea. At first I thought it was a description of what the output would look like, but I see that it could be part of the options. The same with input and options. Of course we have libraries where we have a distinction between input and options, but we have to go through all our projects and see if it is actually in any proj

[2022-03-16 15:15] smoya commented on #282
I would like to include:

- Status update for the Parser-API implementation through Parser-js TypeScript rewrite https://github.com/asyncapi/parser-js/issues/482

[2022-03-16 15:19] jonaslagoni commented on #282
@smoya added 👍

[2022-03-17 07:09] sudoshreyansh commented on #245
@derberg sorry for the delay.
I added my code here - https://github.com/sudoshreyansh/google-calendar

Let me know if you have any issues or queries.

[2022-03-17 09:01] derberg commented on #266
hey folks, I do have permissions to create repo, but I do not do it without TSC consent anymore.

I have to say I'm not 100% sure what is your goal. How about you present this subject on next community meeting, and then we can use this presentation as input for voting if we want to have such repo/project.

[2022-03-17 09:12] magicmatatjahu commented on #266
We can do that :) I hope you'll wait @imabp, the meeting is next Tuesday. I think TSC will agree, it is a needed project.

[2022-03-17 09:13] imabp commented on #266
Sure, we can wait for that time. :)

[2022-03-17 12:58] #282 closed

[2022-03-17 13:00] asyncapi-bot opened #298 "Spec 3.0 Meeting, 16 UTC Wednesday March 30 2022"
This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.

**The meeting takes place bi-weekly on Wednesdays**. First and third week every month until release. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pihClJY-kXuTRRJ8n1awb0VV) playlist on YouTube.

**This time we meet at [16 UTC]

[2022-03-17 16:16] mcturco commented on #155
This is looking good! I can help out with the visual style as well to make sure it matches the brand guidelines (the guidelines are in progress as well). And yes, I can help with the intro if you guys just want to let me know what text should be there. Like maybe "Learning AsyncAPI" or something generic like that so we can easily stick it in front of all future videos as well.

I was looking throu

[2022-03-17 17:23] MitAbhay commented on #238
@derberg Currently, I am not working on this.

[2022-03-17 20:15] vasantisuthar commented on #238
@derberg I am working on it.

[2022-03-17 21:44] jonaslagoni commented on #294
I would like to bring up bindings especially topics around https://github.com/asyncapi/bindings/issues/113 and https://github.com/asyncapi/spec/issues/590 🙂

[2022-03-20 17:48] vasantisuthar commented on #238
@derberg I want to inform you that, I will be not able to work on this issue as I have my exams right now, So I will not be able to complete this, before 28 March. Thank you.

[2022-03-21 18:14] mcturco commented on #155
I really like the way IBM did their videos as well, but I am wondering how difficult that will be for the various speakers to set up to make the videos looking consistent. The second option you showed (Mulesoft) I think is a bit too much with the animations. It doesn't look like it, but that's a lot of work to make a 2D animation so that would take some time to put together.

I saw this video: htt

[2022-03-21 18:44] derberg commented on #272
not needed, we were not accepted

[2022-03-21 18:44] #272 closed

[2022-03-21 19:18] fmvilas commented on #155
Me too but please don't make me write backward on a glass 😂 Unless the whole video is flipped, which would explain why the guy is on a plain t-shirt without logos or text 🤔

Yeah, that's what I had in mind too. Something simple to start with.

[2022-03-21 20:52] Barbanio commented on #155
Yes, the IBM thing is unattainable for us for many reasons, but I really liked it and wanted to share it.

Let's start with something simple, and little by little, we will improve until we get to write backward on a glass. 😜

[2022-03-22 08:16] jonaslagoni commented on #294
Meeting is happening at: https://postman.zoom.us/j/84526612450?pwd=M0dKZ2YySVNJRC9PM095bm8xbGVyQT09

[2022-03-23 11:06] derberg commented on #155
My recommendation, is to make recording/editing easier + assure consistency (not only with quality) across all recordings:
- speakers get slides, and notes to the slide with text they need to read for the recording
- speakers only record their face or face + chest (looking on example from @mcturco , I guess chest should also be included). They speak towards camera, and they only focus on the text

[2022-03-23 15:39] Barbanio commented on #155
@mcturco I would like to work on the presentation's content for the videos. So, shall we wait for the new templates then? Do you think it makes any sense to work with the current ones meanwhile?

[2022-03-23 16:11] #294 closed

[2022-03-24 09:37] asyncapi-bot opened #302 "Community Meeting, 16:00 UTC Tuesday April 5 2022"
This is the AsyncAPI Community meeting. You're invited to [join us live on Zoom](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at 16:00 UTC. Check what time is it in you

[2022-03-25 20:43] Souvikns commented on #249
In my option `input`, `option`, and `output` are properties of the function that we are exporting I was not trying to describe `bundler` I was trying to describe the function that I am exporting which in this case is this -

[code]

I was thinking like this because the main reason we are doing this is so that I as a bundler maintainer does not have to care how bundler is implemented because this i

[2022-03-25 22:23] mcturco commented on #155
@Barbanio I would definitely wait for the new presentation templates. It is going to look off if we use the one with the old branding. This is the old(current) deck: https://docs.google.com/presentation/d/10jFwnTckBJQFrQhgDW3a_3dL1eckQk0hxKk2e84XFJc/edit#slide=id.gc30ecbca5f_0_102

If we were to use this now everyone would be like "Wait I thought they changed their logo" haha

When do you think yo

[2022-03-28 06:11] Barbanio commented on #155
Yes, it makes sense. I agree with you.

It's not urgent, but without the new templates, I can't make much progress here. 🙂

[2022-03-29 18:10] alequetzalli commented on #155
Hey @sihamtahi, this is the issue where we are working on our **Educational Videos**. You can see that I [quoted directly from the comment](https://github.com/asyncapi/community/issues/155#issuecomment-996779429) that @Barbanio made with links to each of the scripts she already did.

At this point, we are following the outline that you see here for the content of each video. @Barbanio  created PRs

[2022-03-30 05:43] Barbanio commented on #155
Hello @Sihamtahi, nice that you feel like working on this, Welcome! 😀  As @alequetzalli says, we need more people to contribute to this to make the videos as good as possible.

As you can see these are the videos we are working on now, I think some new eyes on them would be great. If you feel like writing from scratch of course you can do that too, you can start with a proposal from block 2 of the

[2022-03-30 07:31] Sihamtahi commented on #155
Hello @Barbanio and @alequetzalli, thank you for adding me, I will be glad to contribute with you. It's a great Idea I think to get everything done with the block 1.
For now, I will try to read every script that you already wrote and I will tell if I have further remarks / propositions.

[2022-03-30 13:46] magicmatatjahu commented on #238
@vasantisuthar No worries, thanks for info!

[2022-03-30 16:15] #298 closed, assigned to nobody

[2022-03-30 16:17] asyncapi-bot opened #307 "Spec 3.0 Meeting, 17:00 UTC Wednesday April 13 2022"
This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.

**The meeting takes place bi-weekly on Wednesdays**. First and third week every month until release. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pihClJY-kXuTRRJ8n1awb0VV) playlist on YouTube.

**This time we meet at 17:00 UT

[2022-03-31 05:56] Barbanio commented on #155
@mcturco Looks great! Thanks for your swift reaction ✨

[2022-04-04 13:55] Barbanio commented on #155
@mcturco, I can't edit the text on the second slide. The rest works great!

[2022-04-04 16:32] derberg commented on #238
@vasantisuthar do you want to continue working on this one? I know OpenForce ended but if you are still interested and you were delayed by exams, we can still give you some time for this one

[2022-04-04 16:51] vasantisuthar commented on #238
Sure, I want to work on this issue, I'll try to complete it as soon as possible. Thank you

[2022-04-07 09:54] Barbanio commented on #155
Hi! This is the second version of the storyboard of the first video: https://docs.google.com/presentation/d/1WAlxxo-neqac5hczq8sCTMYx9jqelwvZ/edit#slide=id.p1 What do you think? 🙂

[2022-04-09 08:01] pratik2315 commented on #40
Hey everyone!
I would like to work on this issue if it's alright with you guys? This issue is open from 2 months and if @likitarai1 is busy, I would love to contribute to this issue! Thanks.

[2022-04-12 10:55] #302 closed

[2022-04-12 11:01] asyncapi-bot opened #317 "Community Meeting, 8:00 UTC Tuesday April 19 2022"
This is the AsyncAPI Community meeting. You're invited to [join us live on Zoom](https://zoom.us/j/165106914) and ask questions. **The meeting takes place on alternate Tuesdays**. Recordings from the previous meetings are available in [this](https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS) playlist on YouTube.

**This time we meet at 8:00 UTC. Check what time is it in your

[2022-04-12 13:33] jonaslagoni commented on #307
I am hoping to give an update on the progress branches, 🤞 v3 of https://github.com/asyncapi/spec-json-schemas/pull/184 will be released.

[2022-04-13 07:18] derberg commented on #40
@pratik2315 please go ahead

[2022-04-15 14:23] pratik2315 commented on #40
Hey @derberg I have a question. I have started working on this issue.
Should I make a pull request? I am not assigned the issue as of now, is it okay to make a PR without being assigned?
Thanks.

[2022-04-15 17:22] pratik2315 commented on #40
sorry for the trouble. i looked in the contributors guide and figure it out.
pls check my pr and let me know if there are any changes/mistakes to resolve.
Thank you so much.

[2022-04-19 10:39] jonaslagoni commented on #163
I decided to add a migration guide for 3.0: https://github.com/asyncapi/website/pull/660

What this evolves into is hard to say, let's see. However, we needed a place to write all the migration guides down so tools such as converters can be accurately adapted.

[2022-04-19 15:15] #317 closed

[2022-04-20 09:43] #245 closed

[2022-04-20 09:46] asyncapi-bot opened #325 "GSoD, 15:00 UTC Thursday April 21st 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Goal of the meeting is to answer any questions related to Google Season of Docs</td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=15&d=2022-04-21">time zone converter</a>.</td>
</tr>
<tr>
<th>Meet

[2022-04-20 11:19] derberg commented on #245
Done with https://www.asyncapi.com/community/meetings

[2022-04-20 11:50] derberg opened #328 "Cleanup readme from old info about meetings"
- we should review if all links in readme are still valid. For sure playground is old
- we have a lot of details about SIG meeting but now it is called Community Meeting and in general there are more meeting
- IMHO we should remove "details" about meetings and just combine a generic intro text (like the one from AsyncAPI Website landing page where we have meetings section) and link to:
    - docum

[2022-04-20 12:01] derberg opened #329 "figure how to automate scheduling of reoccurring meetings"
#### Reason/Context

[This PR](https://github.com/asyncapi/community/pull/308) introduced full automation of meetings scheduling but it doesn't support "automation trigger". In other words, to have automated scheduling, you need to manually trigger a dedicated workflow. @jonaslagoni would like to have this part automated too. So basically "a workflow" that triggers event schedule, like a cron runn

[2022-04-20 13:00] #40 closed

[2022-04-20 13:00] derberg commented on #198
for now governance doc is removed to not cause confusion -> https://github.com/asyncapi/community/pull/319

[2022-04-20 15:15] asyncapi-bot opened #330 "Spec 3.0 Meeting, 16:00 UTC Wednesday April 27th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-04-27">time zone converter<

[2022-04-21 16:08] #325 closed

[2022-04-21 16:19] luphieanza commented on #328
I want to help with this issue, but I still didn't understand what means about the details in the readme files? Is it we change and fix all of the readme-files in all repos of ASyncAPI from older unrelated info? @derberg

[2022-04-23 17:03] luphieanza commented on #328
@derberg Please have a look at my previous comment to solve a way of this issue.

[2022-04-23 17:22] pratik2315 commented on #328
Hey @luphieanza
Here's what I understood maybe it can help you solve this issue in a much better way.

1. Go to readme and manually click on each link to check if it's working or not. If im not wrong some of zoom links aren't stable(If it's not working replace/remove it with updated link)
2. As @derberg said, SIG meetings are now called community meetings. So, replace the keyword SIG with Communit

[2022-04-23 17:31] luphieanza commented on #328
@pratik2315 Thanks for your help!

By the way, are this the meeting details on readme, is it?
<img width="743" alt="image" src="https://user-images.githubusercontent.com/20577131/164917169-5322563a-1ec2-4fe8-b940-32d42f96acfc.png">

- And what do you mean about "point to MEETINGS_ORGANIZATION"?

- Also, about the last step that you wrote, so I need to change the readme meeting details into https:/

[2022-04-23 17:36] pratik2315 commented on #328
1. Yes. those are the meeting links
2. I meant something like "this[](https://github.com/asyncapi/community/blob/master/MEETINGS_ORGANIZATION.md)  When i said point to organizations.md
3. In the "add asyncapi to your calendar" Update the links to that of on the website. And as lukas said include some generic text from the website.

[2022-04-23 17:54] luphieanza commented on #328
Ah, I see. Thanks for your information. I will try this, and hopefully get a response from Lukasz too. Glad that you're helping me with it. :+1:

[2022-04-25 11:25] deepeshaburse commented on #328
Hey! Sorry for creating multiple PRs for this issue, I am new to Git so I was trying to figure it out.

[2022-04-25 15:56] deepeshaburse commented on #328
Hey @luphieanza @derberg so sorry, I didn't mean to overstep. I will keep that in mind next time. I can discuss this with @luphieanza and close my PR if you'd like?

[2022-04-25 16:03] deepeshaburse commented on #328
Of course 😊

[2022-04-25 16:26] deepeshaburse commented on #328
Done. Kindly review.

[2022-04-26 03:23] darp99 commented on #178
I am interested to do this. can i get your help @derberg sir for move ahead.

[2022-04-26 07:52] asyncapi-bot opened #344 "Thinking Out Loud, 14:00 UTC Wednesday April 27th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Theme</td>
<td>EDA mocking, testing, and Microcks.</td>
</tr>
<tr>
<td>Guest</td>
<td>Laurent Broudoux</td>
</tr>
<tr>
<td>Time</td>
<td><strong>14:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=14&d=2022-04-27">time zone converter</a>.</td>
</tr>
<tr>
<t

[2022-04-26 08:34] derberg commented on #178
@aayushmau5 sorry, I just noticed your comments... 🤦🏼 sorry for the delay.

yeah, we definitely need some function that will compare original list with incoming list and determine if it is "addition" or "removal" or just a "simple modification".

yes, API call that invites to `@asyncapi/tsc_members` and org, and API call that removed from `@asyncapi/tsc_members` but not from the org (we should lea

[2022-04-26 10:42] aayushmau5 commented on #178
No worries @derberg :heart:
Life happened(college and stuff), and I'm not able to work on this issue. So @darp99 Feel free to take up this issue :)

[2022-04-27 13:36] jonaslagoni commented on #330
As I won't be there to participate, a quick update from my side.

We have one blocker to finish the entire setup to move changes to RFC-3, which is https://github.com/asyncapi/spec-json-schemas/pull/184

I expect this to be solved right after v2.4 of the spec is out, i.e. I will finish the PR tomorrow and hopefully release it by the end of this week 🤞

After that, it is just a matter of moving cha

[2022-04-27 16:55] fmvilas commented on #330
Recording of the meeting: https://www.youtube.com/watch?v=trHSXLHX05A

[2022-04-27 16:55] #330 closed

[2022-04-28 00:03] asyncapi-bot opened #346 "Spec 3.0 Meeting, 16:00 UTC Wednesday May 11th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-05-11">time zone converter<

[2022-04-28 00:24] jonaslagoni commented on #346
In case you missed it, @fmvilas and @lbroudoux had a great conversation about the spec 3.0 in [Thinking Out Loud](https://youtu.be/In5e6Nxa_1w?t=3245). One specific aspect I think would be great to discuss at the next meeting, [which revolves around the scope of AsyncAPI](https://youtu.be/In5e6Nxa_1w?t=3440).

I would like to bring up the following questions for discussion:
1. Discussion around wh

[2022-04-28 11:00] #344 closed

[2022-04-28 11:03] asyncapi-bot opened #347 "Community Meeting, 16:00 UTC Tuesday May 3rd 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-05-03">time zone converter</a>.

[2022-05-02 12:14] asyncapi-bot opened #351 "Thinking Out Loud, 14:00 UTC Wednesday May 4th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Theme</td>
<td>AsyncAPI at SAP</td>
</tr>
<tr>
<td>Guest</td>
<td>Simon Heimler</td>
</tr>
<tr>
<td>Time</td>
<td><strong>14:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=14&d=2022-05-04">time zone converter</a>.</td>
</tr>
<tr>
<th>Meeting Place</th>
<t

[2022-05-02 13:28] naman-tiwari commented on #328
I want to help with this issue. As an apprentice, this would be a good solution for me.

[2022-05-02 20:06] mcturco commented on #351
**Twitter Asset:**
![TOL_Twitter_13_Simon-y-Pia](https://user-images.githubusercontent.com/60163079/166317823-1dff22f2-b101-4068-8bf9-3911b1f4f95e.jpg)

**YouTube Asset:**
![TOL_Youtube_13_Simon-y-Pia](https://user-images.githubusercontent.com/60163079/166317867-bc86830a-e702-4302-bece-530e9da7b2be.jpg)

[2022-05-03 10:40] jonaslagoni commented on #346
I think it makes sense to bring up https://github.com/asyncapi/bindings/issues/113. Then we can see if it will require a dedicated call to move it forward as there is a couple of things to consider 😄

[2022-05-04 08:05] magicmatatjahu commented on #266
@imabp Due to fact that you start working on that I recognize that you want to participate in our mentoring program with this project :) I'm assigning you to it, you don't have to worry about someone taking it from you.

[2022-05-04 11:43] imabp commented on #266
Cool yes!! This sounds good to me.

[2022-05-04 17:07] mcturco commented on #351
![TOL_Twitter_13_SimonHeimler](https://user-images.githubusercontent.com/60163079/166741552-46dc2304-3978-46a3-b322-f631f6e7eb50.jpg)

[2022-05-04 17:28] #351 closed

[2022-05-05 04:46] asyncapi-bot opened #352 "Request/reply discussion, 15:00 UTC Monday May 16th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Request and reply is a long outstanding feature request, this meeting is for discussing how not only to move forward, but also ways how to solve it. See more here: asyncapi/spec/issues/94 </td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.co

[2022-05-05 04:52] jonaslagoni commented on #352
@GreenRover are there any specific agenda you have in mind?

[2022-05-05 05:03] GreenRover commented on #352
I will prepare:
- use cases for request reply and present those
- proposal for spec 3.0
- examples to each use case

I try to have this mid next week.
Pre discussions will be in https://github.com/asyncapi/spec/issues/94#issuecomment-1118171291

Do you have any other things/ideas to prepare?

[2022-05-05 05:57] jonaslagoni commented on #352
Added them to the agenda 👍 Keep in mind we don't make any decisions on meetings, it just gives us a platform to better discuss the subject 🙂

I can't think of anything at the moment.

Keep in mind, we don't necessarily have to do everything in one meeting, i.e. maybe there will be a lot of discussion around the use-cases and there are a lot of use-cases to take into consideration, so that is all w

[2022-05-05 06:04] GreenRover commented on #352
No everything clear so far

[2022-05-05 10:37] #347 closed

[2022-05-06 10:39] asyncapi-bot opened #353 "Thinking Out Loud, 14:00 UTC Wednesday May 11th 2022"
![TOL_Twitter_14_PiaMancini](https://user-images.githubusercontent.com/242119/167117101-12f44425-017f-4f94-96a8-c4a3b956628b.jpg)

<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Theme</td>
<td>Building sustainable open-source communities and Open Collective's Exit to Community.</td>
</tr>
<tr>
<td>Guest</td>
<td>Pia Mancini</td>
</tr>
<tr>
<td>Time</td>
<td><strong>14:00 UTC</s

[2022-05-09 15:56] asyncapi-bot opened #355 "Community Meeting, 8:00 UTC Tuesday May 17th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>8:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=08&d=2022-05-17">time zone converter</a>.<

[2022-05-09 17:24] mcturco commented on #266
@magicmatatjahu do you think we could add a design contributor to work on this project if someone was interested? Just trying to gather more mentees to work on UI/UX projects. If so, can we add the "🎨  design" label to this issue?

[2022-05-09 17:58] imabp commented on #266
Hey @mcturco  not sure, if I can say one of my juniors who is into Visual Design, UI Design and UX Research.
Tagging him : @iipranavii

[2022-05-09 19:18] mcturco commented on #266
@imabp Yes! If they are interested that would be great 😄

[2022-05-09 20:03] iipranavii commented on #266
Thank you, @imabp, for the mention,
I would love to become a contributor for this project (and learn more from @mcturco :D)
I have experience in UX research and Visual design,
I worked with Abir on API hacks last year too, and am I Interning as a Product designer too, with most of my work in UI design and User research.
I would love to know more about it!

[2022-05-09 20:45] mcturco commented on #266
That's great! Glad to have you here, @iipranavii. If you haven't already, I suggest joining our [slack org](https://asyncapi.com/slack-invite) and in the channel `#12_design` is where I post updates on the latest design happenings in the org.

Otherwise, if you and @imabp don't mind teaming up on this project, I think that would be awesome! Trying my best to fit the design process into open source

[2022-05-10 03:48] iipranavii commented on #266
Just joined the Slack workspace!
I would love to work with @imabp, we'll get in touch and team up on the project if he's interested too!
I have been trying to branch out into open source design, this will be a very good step in that direction!
Will be actively in touch with you ^_^

[2022-05-10 08:28] magicmatatjahu commented on #266
Don't want to ruin the dream, but that project has little to do with the UI. There won't be any additional UI here, we only have to think about the UX regarding the interface API.

[2022-05-10 08:52] iipranavii commented on #266
I understand, I will try to give my input wherever I can,
I think there are other issue like the [Modelina Website](https://github.com/asyncapi/modelina/issues/637) which I can work on more extensively!

Thank you, @magicmatatjahu, for clearing it out!

[2022-05-10 09:02] derberg commented on #32
@jonaslagoni voting is possible now, in case you want to continue working on this one

[2022-05-10 09:07] imabp commented on #266
@iipranavii please join `#12_design` in slack for more design issues to work on.

[2022-05-11 08:22] Toysurusse commented on #355
Hello,

Regarding to my discussion, I put the description of a bug we found. Feel free to contact me for any misunderstanding.

We use payload reference as file reference like this example in component part of our .yml file:
components:
  messages:
    test:
      name: bug1
      title: Bug1
      schemaFormat: 'application/vnd.apache.avro+yaml;version=1.9.0'
      payload:
        $ref: './src/m

[2022-05-12 15:46] asyncapi-bot opened #362 "Let's talk about contributing, 15:00 UTC Thursday May 19th 2022 - CI at AsyncAPI"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>The purpose of this meeting is to focus on contributors, focus on people that want to contribute to AsyncAPI Initiative but do not know how to do it.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-ut

[2022-05-16 07:37] derberg commented on #36
I will close this issue for now. Current transcript from zoom works well, no complains so far

[2022-05-16 07:37] #36 closed

[2022-05-16 09:04] jonaslagoni commented on #346
As discussed in the meeting the following talking points will be copied to the next meeting.

- Should we move JSON Schema files for bindings, https://github.com/asyncapi/bindings/issues/113 - @jonaslagoni
- https://github.com/asyncapi/spec/issues/795 - @magicmatatjahu

[2022-05-16 09:04] #346 closed

[2022-05-16 09:06] asyncapi-bot opened #366 "Spec 3.0 Meeting, 16:00 UTC Wednesday May 25th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-05-25">time zone converter<

[2022-05-16 09:16] #353 closed

[2022-05-16 11:58] jonaslagoni commented on #32
I don't have the bandwidth to solo take this on at the moment and it's not that pressing to prioritize it at the moment. Maybe next year for me.

If others want to take it up, feel free 👍

[2022-05-16 12:20] Toysurusse commented on #355
Hi @magicmatatjahu,

Thanks for your answer. Do you want to take this subject or would you like I report it as a bug in the avro-parser repo ?

Let me know what you prefer.

Kind regards

[2022-05-16 12:23] magicmatatjahu commented on #355
@Toysurusse as I see someone already just created issue for that https://github.com/asyncapi/avro-schema-parser/issues/148 :)

[2022-05-16 16:04] #352 closed

[2022-05-16 16:06] asyncapi-bot opened #368 "Request/reply discussion, 15:00 UTC Monday May 23rd 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Request and reply is a long outstanding feature request, this meeting is for discussing how not only to move forward, but also ways how to solve it. See more here: asyncapi/spec/issues/94</td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com

[2022-05-16 16:37] jonaslagoni commented on #368
Following [last meeting](https://github.com/asyncapi/community/issues/352) @GreenRover when you know where to pickup from last meeting 🙂

[2022-05-16 20:22] GreenRover commented on #368
@jonaslagoni @fmvilas  Here are the results of the todays discussion: https://github.com/asyncapi/spec/issues/94#issuecomment-1128026943
Hopefully i was able to remember everything, if not please pm me.

I will lets this review some architects that i proxied. And maybe update the comment later.

Still open points:

**correlationId**
do we need it also as well defined field? As in async api v2: htt

[2022-05-18 14:46] asyncapi-bot opened #370 "AsyncAPI Conference 2022 organization kick off, 15:00 UTC Thursday May 26th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Let's kick off the regular work. Time is ticking, and if we want to have in person conf in October/November we need to act now.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=15&d=2022-05-26">t

[2022-05-20 09:50] asyncapi-bot opened #372 "Thinking Out Loud, 14:00 UTC Wednesday May 25th 2022"
![TOL_Twitter_16_JeremyWhitlock](https://user-images.githubusercontent.com/242119/169504076-e718c7ae-b539-483d-a2c9-6e39b03332ec.jpg)

<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Theme</td>
<td>Building an intent-driven parser. This tweet is relevant: https://twitter.com/whitlockjc/status/1521213192105459712.</td>
</tr>
<tr>
<td>Guest</td>
<td>Jeremy Whitlock</td>
</tr>
<tr>

[2022-05-20 09:56] asyncapi-bot opened #373 "Thinking Out Loud, 14:00 UTC Wednesday June 8th 2022"
![TOL_Twitter_17_James-y-Clemens](https://user-images.githubusercontent.com/242119/169504267-a8471f1f-5ed0-4aea-ada6-de74ef0c1b39.jpg)

<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Theme</td>
<td>This Twitter thread: https://twitter.com/clemensv/status/1522513848003178496.</td>
</tr>
<tr>
<td>Guest</td>
<td>James Urquhart and Clemens Vasters</td>
</tr>
<tr>
<td>Time</td>
<td>

[2022-05-21 00:19] #60 closed

[2022-05-23 14:28] #362 closed

[2022-05-23 16:10] jonaslagoni commented on #368
Recording is out: https://www.youtube.com/watch?v=ysa3xxxlUpk

[2022-05-23 16:10] #368 closed

[2022-05-23 16:41] derberg commented on #60
imho decision for this is on library level

[2022-05-24 13:33] asyncapi-bot opened #377 "Request/reply discussion, 14:00 UTC Thursday June 9th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Request and reply is a long outstanding feature request, this meeting is for discussing how not only to move forward, but also ways how to solve it. See more here: asyncapi/spec/issues/94</td>
</tr>
<tr>
<td>Time</td>
<td><strong>14:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com

[2022-05-25 12:04] magicmatatjahu commented on #366
I wanna add to the agenda four topics:

- https://github.com/asyncapi/spec/pull/794
- https://github.com/asyncapi/spec/pull/792
- https://github.com/asyncapi/spec/issues/799
- https://github.com/asyncapi/spec/pull/797

[2022-05-25 17:14] jonaslagoni commented on #366
Moving the following to the next agenda:
- Discussion about security object in the components sections
- [3.0.0] External docs/Contact as collection  spec#799 - @magicmatatjahu
- https://github.com/asyncapi/spec/pull/797 - @magicmatatjahu

Recording out: https://www.youtube.com/watch?v=uoKEet0jcSc

[2022-05-25 17:14] #366 closed

[2022-05-25 17:18] asyncapi-bot opened #378 "Spec 3.0 Meeting, 16:00 UTC Wednesday June 8th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-06-08">time zone converter<

[2022-05-26 13:43] magicmatatjahu commented on #370
I won't be able to join the meeting today, but if there's a coding task (probably a conference website or something similar) I'm willing to help :)

[2022-05-26 15:59] derberg commented on #370
@magicmatatjahu 😚

[2022-05-26 16:14] #370 closed

[2022-05-27 17:04] asyncapi-bot opened #383 "Community Meeting, 16:00 UTC Tuesday May 31st 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-05-31">time zone converter</a>.

[2022-06-06 15:45] imabp commented on #266
Thank you so much @magicmatatjahu  !!!!
I am already on this, so excited to collaborate with you, and ship this up!!

[2022-06-06 16:48] mcturco opened #390 "Tweet: User survey CTA"
I would like to propose a tweet to be published from the AsyncAPI twitter account. I was going to use the "Tweet with us" workflow via PR, but I didn't see how we could attach an image to the tweet using that route.

Tweet text:
[code]

Tweet image/graphic:
<img width="537" alt="EDASurvey_SocialGraphic" src="https://user-images.githubusercontent.com/60163079/172206973-44ee31d0-2190-4888-9a03-8409d

[2022-06-06 20:14] mcturco commented on #4
I actually think this issue is resolved since we changed the logo on all the repos with the new brand. @derberg @jonaslagoni  should we close this issue?

[2022-06-07 06:37] #4 closed

[2022-06-07 10:13] derberg commented on #390
lgtm! @alequetzalli anything from you?

@mcturco I can schedule it several times for different days and hours. Preferences?

[2022-06-07 14:27] #383 closed

[2022-06-07 15:39] asyncapi-bot opened #391 "Community Meeting, 8:00 UTC Saturday May 14th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>8:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=08&d=2022-05-14">time zone converter</a>.<

[2022-06-07 17:39] mcturco commented on #390
Hmmm I'm not sure what times but I think we can post it twice a week and that would be fine. I don't want it to be too noisy for our followers. Maybe twice a week at a time where we have peak engagement on the AsyncAPI account? Not sure if you can see that in the analytics

[2022-06-08 03:28] Souvikns commented on #377
@jonaslagoni can we have https://github.com/asyncapi/bindings/pull/131 on the agenda?

[2022-06-08 10:55] jonaslagoni commented on #377
Done 👍

[2022-06-08 13:25] derberg commented on #391
ups, back to the future episode 3 😆

[2022-06-08 13:25] #391 closed

[2022-06-08 13:25] asyncapi-bot opened #392 "AsyncAPI Conference 2022 organization - round 2, 16:00 UTC Tuesday June 14th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Let's see where we are at with the conference organization. Sync call to see what we managed to get through async work.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-06-14">time zone

[2022-06-08 13:39] asyncapi-bot opened #393 "Community Meeting, 8:00 UTC Tuesday June 14th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>8:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=8&d=2022-06-14">time zone converter</a>.</

[2022-06-08 18:30] #372 closed

[2022-06-08 18:30] #373 closed

[2022-06-08 19:35] jonaslagoni commented on #378
Closing.

Moving https://github.com/asyncapi/spec/pull/797 - @magicmatatjahu to the next meeting 🙂

[2022-06-08 19:35] #378 closed

[2022-06-08 19:37] asyncapi-bot opened #394 "Spec 3.0 Meeting, 16:00 UTC Wednesday June 22nd 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-06-22">time zone converter<

[2022-06-09 09:29] asyncapi-bot opened #395 "Thinking Out Loud, 14:00 UTC Wednesday June 15th 2022"
![](https://user-images.githubusercontent.com/242119/172826897-ab0ca961-f1a0-4d0a-97f0-98927c171198.jpg)

<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Theme</td>
<td>Contributing to AsyncAPI & Ambassador program</td>
</tr>
<tr>
<td>Guest</td>
<td>Elegbede Azeez</td>
</tr>
<tr>
<td>Time</td>
<td><strong>14:00 UTC</strong> | Translate to your time zone with the <a href="https:/

[2022-06-09 12:44] derberg commented on #390
I tried to figure that out, but that is random 😄
I only have personal observation that Monday and Wednesday people are asleep 😄

Let me just do one for Europe and one for Americas.

@alequetzalli thoughts?

[2022-06-09 15:31] Souvikns commented on #377
### update on https://github.com/asyncapi/bindings/pull/131

Time-stamp: https://youtu.be/t9NALlHu_tE?t=1812
PR: https://github.com/asyncapi/bindings/pull/131

[2022-06-12 12:30] #377 closed

[2022-06-13 11:54] derberg commented on #253
we still need to enable email notifications

[2022-06-15 08:04] #392 closed

[2022-06-15 08:07] #393 closed

[2022-06-15 15:10] #395 closed

[2022-06-21 08:53] asyncapi-bot opened #399 "AsyncAPI Mentorship Q&A, 15:00 UTC Thursday June 30th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Let's have an opportunity to talk about the mentorship program and answer some doubts, in case you still have some.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=15&d=2022-06-30">time zone con

[2022-06-21 11:54] magicmatatjahu commented on #394
I can't make it to the meeting tomorrow. I know that my proposal is important so I would not wait with it until the next 3.0 meeting but make another one on Friday, or possibly next week.

cc @jonaslagoni @derberg @smoya @fmvilas

[2022-06-21 13:38] jonaslagoni commented on #394
@magicmatatjahu we can take a poke at it tomorrow, and take it up again at the next meeting if you find it necessary, how does that sound?

[2022-06-21 13:40] magicmatatjahu commented on #394
You can see the PR, but I can't present it tomorrow. We can also move it to the next meeting and you will have time to discuss about another topics.

[2022-06-21 15:36] derberg commented on #394
yes, we should not schedule meetings for the same week as there is not time for community to prepare

[2022-06-22 11:21] asyncapi-bot opened #400 "Community Meeting, 16:00 UTC Tuesday June 28th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-06-28">time zone converter</a>.

[2022-06-22 17:14] jonaslagoni commented on #394
Recording is out: https://www.youtube.com/watch?v=wKoibKtaiqU

[2022-06-22 17:14] #394 closed

[2022-06-22 17:16] fmvilas commented on #394
## Notes

* https://github.com/asyncapi/spec/pull/797
  - Consider deprecating `schemaFormat` on v2.x once we have 3.0.0 out.
  - Why is `customSchema` needed?
  - Mix and match different schema formats in a single schema object might be too much.
  - Hola Maciej! 👋

* AsyncAPI Domain Specification
  - Nothing, everything is perfect :trollface: Jokes aside, I'll create an issue so y'all can give f

[2022-06-23 13:48] asyncapi-bot opened #401 "AsyncAPI Onboarding Workshop - Part 1, 15:00 UTC Wednesday June 29th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is going to be a kind of workshop about EDA and AsyncAPI. A lot of it will be based on this script https://github.com/derberg/Documenting-Event-Driven-Architectures---Workshop-Script </td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.co

[2022-06-23 14:09] mcturco commented on #390
@derberg do you think we can get this posted today? I only got 17 responses on the survey and want a little bit more before I close it 🙏

[2022-06-23 14:11] derberg commented on #390
sorry, I completely forgot because of holidays 😞

[2022-06-23 16:07] mcturco commented on #390
Yeah, I was planning on organizing all the results in a public file and then sharing with the community. Do you think that is good enough?

[2022-06-23 16:18] derberg commented on #390
yeah, can be in a repo even
as long as people see they get unfiltered data, this is ok.
maybe you can come up with another twitter text that would mention it? you know, to kinda make it super clear?

[2022-06-27 15:02] mcturco commented on #390
[code]

Maybe something like that? @derberg how does that sound?

[2022-06-29 07:17] #400 closed

[2022-06-30 14:51] asyncapi-bot opened #404 "AsyncAPI Onboarding Workshop - Part 2, 15:00 UTC Wednesday July 6th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a 2nd part of onboarding workshop about AsyncAPI. This time we will talk about event-driven architectures in real world and do some hands one. Workshop is based on this script https://github.com/derberg/Documenting-Event-Driven-Architectures---Workshop-Script</td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00

[2022-06-30 14:51] #401 closed

[2022-07-04 09:57] asyncapi-bot opened #407 "Spec 3.0 Meeting, 16:00 UTC Wednesday July 6th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-07-06">time zone converter<

[2022-07-04 10:18] magicmatatjahu commented on #407
Sure :)

[2022-07-04 10:43] jonaslagoni commented on #407
@GreenRover @fmvilas @derberg do you folks want to bring up request/reply status on this meeting this we don't have another one scheduled explicitly for that topic? 🤔

[2022-07-04 14:22] fmvilas commented on #407
Can you please add https://github.com/asyncapi/spec/issues/811 to the agenda?

[2022-07-04 15:33] asyncapi-bot opened #408 "AsyncAPI Conference 2022 organization - round 3, 15:00 UTC Thursday July 14th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>https://github.com/asyncapi/community/discussions/381</td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=15&d=2022-07-14">time zone converter</a>.</td>
</tr>
<tr>
<th>Meeting Place</th>
<th>Link</t

[2022-07-04 18:23] jonaslagoni commented on #407
Done 👍

[2022-07-06 16:00] #404 closed

[2022-07-06 17:06] asyncapi-bot opened #409 "AsyncAPI Onboarding Workshop - Part 3, 15:00 UTC Wednesday July 13th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Time to introduce what AsyncAPI is, what are important concepts in AsyncAPI. Then let us create first AsyncAPI file and why is it useful.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>15:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=15&d=202

[2022-07-06 17:14] jonaslagoni commented on #407
Moving the following agenda items to the next meeting:
1. Request/reply status
1. https://github.com/asyncapi/spec/issues/811 - @fmvilas

[2022-07-06 17:14] #407 closed

[2022-07-06 17:16] asyncapi-bot opened #410 "Spec 3.0 Meeting, 16:00 UTC Wednesday July 20th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-07-20">time zone converter<

[2022-07-06 17:17] jonaslagoni commented on #410
@magicmatatjahu ping me if you need https://github.com/asyncapi/spec/pull/797 on the agenda again 🙂

[2022-07-06 17:19] magicmatatjahu commented on #410
@jonaslagoni Thanks, but no! 😂

[2022-07-07 14:26] asyncapi-bot opened #411 "Community Meeting, 8:00 UTC Tuesday July 12th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>8:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=08&d=2022-07-12">time zone converter</a>.<

[2022-07-12 08:33] derberg commented on #411
Link to AsyncAPI Mentorship voting -> https://github.com/asyncapi/community/discussions/376#discussioncomment-2890658

[2022-07-12 14:55] #411 closed, assigned to nobody

[2022-07-12 14:59] asyncapi-bot opened #413 "Community Meeting, 16:00 UTC Tuesday July 26th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-07-26">time zone converter</a>.

[2022-07-12 15:00] #399 closed

[2022-07-12 15:00] #390 closed

[2022-07-14 07:27] #409 closed

[2022-07-14 07:32] asyncapi-bot opened #414 "AsyncAPI Onboarding Workshop - Part 4, 14:00 UTC Wednesday July 20th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Last time we had some theory intro to AsyncAPI and its key features. Now time to create together first file and see what we can do with it.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>14:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=14&d=2

[2022-07-14 16:44] #408 closed

[2022-07-14 16:46] asyncapi-bot opened #415 "AsyncAPI Conference 2022 organization - round 4, 16:00 UTC Thursday July 28th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Related to https://github.com/asyncapi/community/discussions/381</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-07-28">time zone converter</a>.</td>
</tr>
<tr>
<th>Meeting Place</th>

[2022-07-20 15:59] #414 closed

[2022-07-20 19:43] jonaslagoni commented on #410
Recording is out!

https://www.youtube.com/watch?v=7CymWygvWwI

[2022-07-20 19:43] #410 closed

[2022-07-20 19:45] asyncapi-bot opened #417 "Spec 3.0 Meeting, 16:00 UTC Wednesday August 3rd 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-08-03">time zone converter<

[2022-07-25 08:25] magicmatatjahu commented on #249
@Souvikns Sorry for such a delay 😅

To your last comment about `inputs` and `outputs` - you can treat output as options and we should treat them in this way. You have case with `output` in your library but it's not case in other our libraries and usually output we define in options.

[2022-07-28 08:28] #413 closed

[2022-07-28 11:07] asyncapi-bot opened #426 "Community Meeting, 8:00 UTC Tuesday August 9th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>8:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=08&d=2022-08-09">time zone converter</a>.<

[2022-07-28 13:50] #417 closed

[2022-07-28 13:51] asyncapi-bot opened #427 "Spec 3.0 Meeting, 16:00 UTC Wednesday August 3rd 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-08-03">time zone converter<

[2022-07-29 16:07] asyncapi-bot opened #431 "AsyncAPI Conference 2022 organization - round 5, 16:00 UTC Thursday August 11th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Review of https://github.com/asyncapi/community/discussions/381</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-08-11">time zone converter</a>.</td>
</tr>
<tr>
<th>Meeting Place</th>
<

[2022-07-29 16:18] derberg commented on #415
https://youtu.be/_59k06LMDRA

[2022-07-29 16:18] #415 closed

[2022-08-03 16:55] jonaslagoni commented on #427
Related links from recording:

- https://github.com/json-schema-org/json-schema-spec/issues/724
- https://github.com/json-schema-org/json-schema-spec/issues/729
- https://github.com/asyncapi/spec/issues/622
  - https://github.com/asyncapi/spec/pull/797
- https://github.com/asyncapi/spec/issues/163
- https://github.com/asyncapi/spec/issues/624
- https://github.com/asyncapi/spec/issues/216
- https:/

[2022-08-04 14:24] #427 closed

[2022-08-04 16:41] asyncapi-bot opened #435 "Spec 3.0 Meeting, 16:00 UTC Wednesday August 17th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-08-17">time zone converter<

[2022-08-15 10:18] jonaslagoni commented on #435
I want to bring up https://github.com/asyncapi/spec/pull/825, @whitlockjc would you be able to join the discussion? 🤞

[2022-08-15 23:17] #328 closed

[2022-08-17 17:29] #435 closed

[2022-08-17 17:30] asyncapi-bot opened #443 "Spec 3.0 Meeting, 16:00 UTC Wednesday August 31st 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-08-31">time zone converter<

[2022-08-18 08:11] #431 closed

[2022-08-18 08:13] asyncapi-bot opened #444 "Community Meeting, 16:00 UTC Tuesday August 23rd 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-08-23">time zone converter</a>.

[2022-08-18 08:15] asyncapi-bot opened #445 "AsyncAPI Conference 2022 organization - round 6, 16:00 UTC Thursday August 25th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Review of https://github.com/orgs/asyncapi/discussions/381</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-08-25">time zone converter</a>.</td>
</tr>
<tr>
<th>Meeting Place</th>
<th>Li

[2022-08-18 20:52] #426 closed

[2022-08-22 11:50] magicmatatjahu commented on #238
@vasantisuthar Are you still willing to do this task?

[2022-08-23 15:36] magicmatatjahu commented on #444
I won't be able to attend, but I will check recording in YT. If anyone has anything for me, write privately.

[2022-08-31 11:20] #445 closed

[2022-08-31 14:00] smoya commented on #443
Folks, I’m not gonna be able to join today’s 3.0 meeting due to an appointment colliding partially with the meeting.
I'll watch the recording, as I'm very interested on the discussion at https://github.com/asyncapi/spec/issues/663.

[2022-08-31 14:19] smoya commented on #443
Maybe you @magicmatatjahu want to mention https://github.com/asyncapi/parser-js/issues/585 ? (I would do, but I'm not joining today)

[2022-08-31 16:20] derberg commented on #443
no discussion happened, after 16min we finished the call

@fmvilas add your topic to new meeting agenda

[2022-08-31 16:20] #443 closed

[2022-08-31 16:22] asyncapi-bot opened #453 "Spec 3.0 Meeting, 16:00 UTC Wednesday September 14th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is the meeting for community member involved in works related to 3.0 release of AsyncAPI Specification.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-09-14">time zone converter<

[2022-09-01 18:52] asyncapi-bot opened #455 "Community Meeting, 8:00 UTC Tuesday September 6th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>8:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=08&d=2022-09-06">time zone converter</a>.<

[2022-09-01 18:54] asyncapi-bot opened #456 "AsyncAPI Conference 2022 organization - round 7, 16:00 UTC Thursday September 8th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>Review of what is needed for online conf 2022 and update on in-person 2023</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-09-08">time zone converter</a>.</td>
</tr>
<tr>
<th>Meeting P

[2022-09-06 08:50] #455 closed

[2022-09-08 18:39] #456 closed

[2022-09-12 20:09] derberg commented on #453
I wish I could join and start a discussion that "we might want to rethink our definition of application" but not sure I'll make it to join this week

sentences that open some questions marks for me:
- `An application is any kind of computer program or a group of them`
- `It MUST be a producer, a consumer or both`
- `An application MUST also use a protocol supported by the server in order to connec

[2022-09-13 10:32] smoya commented on #444
Shall we close this one ? cc @derberg

[2022-09-13 10:51] fmvilas commented on #453
I will not be able to join this week as I'll be traveling to Lille (France) for the API Platform Conference.

[2022-09-13 15:14] jonaslagoni commented on #453
I want to discuss the freeze period https://github.com/asyncapi/spec/issues/667

[2022-09-13 18:46] derberg commented on #444
we should, but it was run by @AceTheCreator so let him do it as I see there are no notes, and for community meetings, we always put short notes, so later, it is a bit easier to find stuff if we need to.

[2022-09-14 09:23] asyncapi-bot opened #463 "Community Meeting, 16:00 UTC Tuesday September 20th 2022"
<table>
<tr>
<th>Meeting Info</th>
<th>Details</th>
</tr>
<tr>
<td>Purpose</td>
<td>This is a community meeting to regularly talk in open about important topics around AsyncAPI Initiative.</td>
</tr>
<tr>
<td>Time</td>
<td><strong>16:00 UTC</strong> | Translate to your time zone with the <a href="https://dateful.com/convert/coordinated-universal-time-utc?t=16&d=2022-09-20">time zone converter</a>.

[2022-09-14 09:47] #444 closed

[2022-09-14 13:53] char0n commented on #463
Hi,

Can I propose additional agenda item?

The item would be to briefly introduce [AsyncAPI 2.5.0](https://github.com/asyncapi/spec/issues/830) release effort, just to raise awareness of it.

Thanks!

[2022-09-14 15:48] smoya commented on #453
@magicmatatjahu not sure if you wanna bring https://github.com/asyncapi/parser-js/issues/585

[2022-09-14 15:59] smoya commented on #453
@jonaslagoni I'm gonna give a small update on the progress in Parser-JS v2